<div>
	<h1 class="text-center">
		Bienvenue dans les parametres
	</h1>
	<p class="text-left"> Ici, vous pouvez gerer toutes les options pour configurer le site : </p>
	<div>
		<input type="radio" name="theme" id="theme_clair">
		<label for="theme_clair" checked="yes">Theme clair</label><br>
		<input type="radio" name="theme" id="theme_sombre">
		<label for="theme_sombre">Theme sombre</label><br>
		<input type="radio" name="theme" id="theme_Chutlu">
		<label for="theme_Chutlu">Theme Chutlu</label>
	</div>
</div>