<div>
	<div>
		<input type="file" name="Image">
		Changer l'image de profil
	</div>
	<div>
		<input type="email" name="mail" placeholder="Adresse Mail">
		<a href="#" class="btn btn-info">Modifier le mail</a>
	</div>
	<div>
		<input type="password" name="mdp" placeholder="Mot de passe Actuel">
		<input type="password" name="mdp" placeholder="Nouveau Mot de passe">
		<input type="password" name="mdp" placeholder="Confirmer le Mot de passe">
		<a href="#" class="btn btn-warning">Modifier le mot de passe</a>
	</div>

	<div>
		<p> Votre pseudo actuel est </p>
		<input type="text" name="pseudo" placeholder="Nouveau pseudonyme">
		<a href="#" class="btn btn-primary">Changer le pseudonyme</a>
	</div>

	<div>
		<a href="#" class="btn btn-danger">Supprimer le compte</a>
	</div>
		<a href="/account/logout" class="btn btn-danger">Deconnexion</a>
</div>