<div class="login" data-visible="{{ URLLIKE url '/account/login' }}">
    {{ INCLUDE this.currentNode "/template/account.login.html" }}
</div>
<div class="register" data-visible="{{ URLLIKE url '/account/register' }}">
    {{ INCLUDE this.currentNode "/template/account.register.html" }}
</div>
<div class="logout" data-visible="{{ URLLIKE url '/account/logout' }}">
    {{ INCLUDE this.currentNode "/template/account.logout.html" }}
</div>

<div class="params" data-visible="{{ URLLIKE url '/account/params' }}">

    {{ INCLUDE this.currentNode "/template/account.params.html" }}
</div>
<script>

    Dom.addListener(window, 'pushstate', function (event) {// detection d'un changement d'url
        // actualise data
        doc.update({ url: window.location.pathname });
    });

    doc.update({
        url: window.location.pathname
    });

</script>