<div class="form-signin text-center">
    <h1 class="h3 mb-3 font-weight-normal">Please register</h1>
    
    <p class="error" data-visible="{{ EQUALS error ERRCODES.REGISTER_EXIST_EMAIL }}">Un compte possède déjà cet email.</p>
    <p class="error" data-visible="{{ EQUALS error ERRCODES.REGISTER_EXIST_USERNAME }}">Un compte possède déjà ce nom d'utilisateur.</p>
    <p class="error" data-visible="{{ EQUALS error ERRCODES.REGISTER_FORMAT_USERNAME }}">Nom d'utilisateur incorrecte : caractères alphanumérique, "_" et ".".</p>
    <p class="error" data-visible="{{ EQUALS error ERRCODES.REGISTER_FORMAT_EMAIL }}">Email incorrecte.</p>
    <p class="error" data-visible="{{ EQUALS error ERRCODES.REGISTER_FORMAT_PASSWORD }}">
        <b>Mot de passe trop faible.</b>
        Veillez à utiliser des majuscules, des chiffres et des caractères spéciaux (8 chars min).
    </p>
    <p class="error" data-visible="{{ error_psws_diff }}">Les deux mots de passes sont différents.</p>
    

    <input name="username" type="text" class="form-control" placeholder="Username" required="" autofocus="">
    <input name="email" type="email" class="form-control" placeholder="Email address" required="" autofocus="">
    <input name="psw1" type="password" class="form-control" placeholder="Password" required="">
    <input name="psw2" type="password" class="form-control" placeholder="Repeat password" required="">
    <button name="submit" class="btn btn-lg btn-primary">Register</button>
    <!--<p class="mt-5 mb-3 text-muted">© 2021-2022</p>-->
</div>
<script>
    doc.update({
        error: -1,
        ERRCODES,
        error_psws_diff: false
    });

    let form = doc.getElements()[0];
    let username_input = Dom.find("[name=username]", form)[0];
    let email_input = Dom.find("[name=email]", form)[0];
    let psw1_input = Dom.find("[name=psw1]", form)[0];
    let psw2_input = Dom.find("[name=psw2]", form)[0];
    let button = Dom.find("[name=submit]", form)[0];

    Dom.addListener(button, "click", async function () {
        let username = username_input.value;
        let email = email_input.value;
        let psw1 = psw1_input.value;
        let psw2 = psw2_input.value;

        if (psw1 != psw2) {
            doc.update({ error_psws_diff : true });
            return;
        }

        let r = await user.register(email, username, psw1);

        if (r instanceof Error)
            doc.update({ error: r.code, error_psws_diff: false });
        else {
            setURL("/app/");

            // réinitialisation des champs
            username_input.value = "";
            email_input.value = "";
            psw1_input.value = "";
            psw2_input.value = "";
        }
    });
</script>