<div>
	<h1 class="text-center">
		Bienvenue dans les paramètres
	</h1>
	<p class="text-left"> Ici, vous pouvez gérer toutes les options pour configurer le site : </p>
	<div>
		<hr>
		<input type="radio" name="theme" id="theme_clair">
		<label for="theme_clair" checked="yes">Theme clair</label><br>
		<hr>
		<input type="radio" name="theme" id="theme_sombre">
		<label for="theme_sombre">Theme sombre</label><br>
		<hr>
		<!--<input type="radio" name="theme" id="theme_Chutlu">
		<label for="theme_Chutlu">Theme Chtulu</label>
		<hr>-->
		<em class="icon icon-cog"></em>
	</div>
</div>