<div class="text-center">
    <h1>A bientôt !</h1>
</div>
<script>

    function _logout() {
        if (!doc.ctx.URLLIKE(window.location.pathname, "/account/logout")) return;

        user.logout();

        setTimeout(function () {
            if (!doc.ctx.URLLIKE(window.location.pathname, "/account/logout")) return;

            setURL("/");
        }, 2000);
    }

    Dom.addListener(window, 'pushstate', function (event) {// detection d'un changement d'url
        _logout();
    });

    _logout();

</script>