<div>
	<div class="gauche">
		<div class = "image">
			<input type="file" name="Image">
			/ Choisir une image de profil
		</div>
		<hr>
		<div class = "mail">
			<input type="email" name="mail" placeholder="Adresse Mail">
			<a href="#" class="btn">Modifier le mail</a>
		</div>
		<hr>
		<div class = "mdp">
			<input type="password" name="mdp" placeholder="Mot de passe Actuel">
			<input type="password" name="mdp" placeholder="Nouveau Mot de passe">
			<input type="password" name="mdp" placeholder="Confirmer le Mot de passe">
			<a href="#" class="btn">Modifier le mot de passe</a>
		</div>
		<hr>

		<div class = "pseudo">
			<p> Votre pseudo actuel est : </p>
			<input type="text" name="pseudo" placeholder="Nouveau pseudonyme">
			<a href="#" class="btn">Changer le pseudonyme</a>
		</div> 
		<hr>

		<div class = "suppr">
			<a href="#" class="btn btn-danger">Supprimer le compte</a>

			<a href="/account/logout" class="btn btn-danger">Déconnexion</a>
		</div>
		<hr>
		<em class="icon icon-cog"></em>
	</div>
</div>