<div class="header">
    <div class="header-content text-center">
        <h3>Trouver ou créer un groupe</h3>
        <p>Lorem ipsum dolor sit amet, consectet</p>
        <div class="search">
            {{ MARK this "search_box" }}
            <input type="text" value="{{ search }}" placeholder="Explorer les groupes">
        </div>
        <div>
            <a class="btn btn-primary" href="/app/group/create">Créer un groupe</a>
            <button class="btn btn-primary">{{ MARK this "search_button" }} Rechercher</button>
        </div>
    </div>
</div>
<div class="search_result text-justify">
    {{ MARK this "groups_container" }}
</div>
<script>
    doc.update({ 
        search: decodeURI((URLrooter.parseURL('/app/group/search/$value') || { value: '' }).value)
    });

    let search_input = Dom.find("input", doc.ctx.markedElement.search_box)[0];
    let search_button = doc.ctx.markedElement.search_button;
    let groups_container = doc.ctx.markedElement.groups_container;

    
    let r = await fetch("/template/app.group.items.html");
    let html = await r.text();

    let groupeItem = new uTemplate.parser(html);
    let search = new Search("/core/controller/groupe.php");

    search.addListener("append", function (search, data) {
        Dom.append(groups_container, groupeItem.parse(data));
    });

    search.addListener("newSearch", function (search) {
        Dom.html(groups_container, "");
    });


    Dom.addListener(search_button, 'click', function () {
        setURL('/app/group/search/'+encodeURI(search_input.value));
        search.search(search_input.value);
    });

    URLrooter.addListener('/app/group/search/$query', function ({ query }) {
        search.search(decodeURI(query));
        doc.update({ search : decodeURI(query) });
    });
</script>