

<div class="groupe-add scrollable" data-visible="{{ CURRENT_URL_MATCH ADD VARTESTS }}">
    {{ INCLUDE this.currentNode "/template/app.groupes.add.html" }}
</div>
<div class="groupe-settings scrollable" data-visible="{{ CURRENT_URL_MATCH SETTINGS VARTESTS }}">
    {{ INCLUDE this.currentNode "/template/app.groupes.settings.html" }}
</div>
<div class="groupe-join scrollable" data-visible="{{ CURRENT_URL_MATCH JOIN VARTESTS }}">
    {{ INCLUDE this.currentNode "/template/app.groupes.join.html" }}
</div>
<div class="groupe-join scrollable" data-visible="{{ CURRENT_URL_MATCH CREATE VARTESTS }}">
    {{ INCLUDE this.currentNode "/template/app.groupes.create.html" }}
</div>
<div class="groupe-browse" data-visible="{{ CURRENT_URL_MATCH BROWSEDIR VARTESTS }}">
    {{ INCLUDE this.currentNode "/template/app.groupes.main.html" transmitted }}
</div>

<script>
    let ctx = { groupe: null, folder: null, change: new Listenable() };

    doc.update({
        VARTESTS: {
            id : /^[0-9]+$/,
            dir: /^[0-9]+$/
        },
        ADD : "/app/groupes/(add|search)/*",
        CREATE : "/app/groupes/create",
        BROWSEDIR : "/app/groupes/$id/$dir/*",
        SETTINGS :  "/app/groupes/$id/settings",
        JOIN:       "/app/groupes/$id/join",

        transmitted: { ctx }
    });

    async function onurlchange({ id }) {

        //console.log(groupe, id);
        //if (groupe != null && groupe.id == id) return;

        let groupe = await GROUPES.get(id);

        let { dir } = URLrooter.parseURL("/app/groupes/$id/$dir/*");

        if (groupe instanceof Error) groupe = null;
        else {
            if (groupe.status == 'accepted') {
                if (dir == undefined) 
                    replaceURL(`/app/groupes/${id}/${groupe.root}`);
            } else if (dir != 'join')
                replaceURL(`/app/groupes/${id}/join`);
        }
    }

    URLrooter.addListener("/app/groupes/$id/*", onurlchange, null, { id : /^[0-9]+$/ });
    URLrooter.addListener("/app/groupes/*", function () { doc.update(); }, null);

</script>