<div class="groupe-header">
    <!-- Information sur le groupe  -->
    <h1>{{ groupe.nom }}</h1>
    <p class="descr">{{ groupe.description }}</p>
    <a href="/app/groupes/{{ groupe.id }}/settings" class="settings-btn icon icon-cog"></a>
</div>
<div class="groupe-main">
    <div class="column over" style="width:calc(100% - {{ chat_width }});">
        <div class="explorer column scrollable">
            {{ INCLUDE this.currentNode "/template/app.groupes.main.explorer.html" }}
        </div>
        <div class="preview column scrollable" data-visible="{{ false }}">
            {{ INCLUDE this.currentNode "/template/app.groupes.main.preview.html" }}
        </div>
    </div>
    <div class="column" style="width:{{ chat_width }};overflow:hidden;">
        <div class="chat">
            {{ INCLUDE this.currentNode "/template/app.chat.html" }}
        </div>
    </div>
</div>

<script>
    let groupe = null;

    doc.update({ groupe: {}, chat_width: '0%' });

    window.setChatSize = function (w) {
        doc.update({ chat_width: w });
        setTimeout(() => doc.update(), 100);
    };

    URLrooter.addListener("/app/groupes/$id/*",
        async function ({ id }) {
            if (groupe != null) {
                if (groupe.id == id) return;
                else groupe.removeListener(Groupe.EVENT_UPDATE, doc.update);
            }
            
            groupe = await GROUPES.get(id);

            if (groupe instanceof Groupe) {
                groupe.addListener(Groupe.EVENT_UPDATE, doc.update);
                doc.update({ groupe });
            }
        },
    null, { id : /^[0-9]+$/ });
</script>