<nav class="sidebar">
    <div class="scrollable">
        <a href="/app/groupes/add" class="btn btn-primary">Ajouter un groupe</a>
        <!--
        <h6 class="sidebar-header mt-4 mb-1 px-3">
            <span>Invitations</span>
        </h6>
        <ul>
            {{ MARK this "groupsInvited" }}
        </ul>
        -->
        <h6 class="sidebar-header mt-4 mb-1 px-3">
            <span>Mes demandes</span>
        </h6>
        <ul>
            {{ MARK this "groupsAsked" }}
        </ul>
        <h6 class="sidebar-header mt-4 mb-1 px-3">
            <span>Mes groupes</span>
        </h6>
        <ul>
            {{ MARK this "groups" }}
        </ul>
    </div>
</nav>
<script>
    doc.update();

    // création du template à partir des données du serveur
    var groupeItem = null;

    let r = await fetch("/template/app.sidebar.groupeItem.html");
    let html = await r.text();

    let listGroup = ListGroupe;

    groupeItem = new uTemplate.parser(html);
    let htmllist = {};
    htmllist["accepted"] = doc.ctx.markedElement.groups;
    htmllist["pending"] = doc.ctx.markedElement.groupsAsked;
    htmllist["rejected"] = doc.ctx.markedElement.groupsAsked;
    htmllist["excluded"] = doc.ctx.markedElement.groupsAsked;
    //htmllist["invite"] = doc.ctx.markedElement.groupsInvited;


    function _toggleSelected({ id }) {
        let selected = Dom.find(`[data-gid="${id}"] .groupItem`, doc.getElements()[0]); // selectionner celui qui a l'identifiant id
        let other = Dom.find(`[data-gid]:not([data-gid="${id}"]) .groupItem`, doc.getElements()[0]); // selectionner ceux qui ne l'ont pas

        if (selected.length == 0) return ;

        for (let i = 0, nb_groupes = other.length; i < nb_groupes; i++)
            other[i].setAttribute("data-selected", "false");
        
        selected[0].setAttribute("data-selected", "true");
    }

    function _removeAllSelected() {
        let other = Dom.find(`[data-gid] .groupItem`, doc.getElements()[0]); // selectionner ceux qui ne l'ont pas
        for (let i = 0, nb_groupes = other.length; i < nb_groupes; i++)
            other[i].setAttribute("data-selected", "false");
    }


    function _removeAllSelected() {
        let other = Dom.find(`[data-gid] .groupItem`, doc.getElements()[0]); // selectionner ceux qui ne l'ont pas
        for (let i = 0, nb_groupes = other.length; i < nb_groupes; i++)
            other[i].setAttribute("data-selected", "false");
    }


    listGroup.addListener("append", function (l, groupe) {
        let container = htmllist[groupe.status];
        let element = groupeItem.parse({ groupe, user });

        console.log(l, groupe, container, element);

        Dom.append(container, element);
    });

    listGroup.addListener("remove", function (l, groupe) {
        let container = htmllist[groupe.status];
        let element = Dom.find(`[data-gid="${groupe.id}"]`, container)[0];
        if (Dom.isElement(element)) element.remove();
    });

    listGroup.addListener("change", function (l, prev, groupe) {
        let container = htmllist[groupe.status];
        let element = groupeItem.parse({ groupe, user });
        let oldElement = Dom.find(`[data-gid="${groupe.id}"]`, container)[0];

        if (Dom.isElement(oldElement)) oldElement.remove();
        Dom.append(container, element);
    });


    if (user.isLoggedIn)
        listGroup.update().then(function () {

            let r = URLrooter.parseURL('/app/groupes/$id/*', { id : /[0-9]+/ });
            if (r) _toggleSelected(r);
            else {
                r = URLrooter.parseURL('/app/groupes/$id', { id : /[0-9]+/ });
                if (r) _toggleSelected(r);
            }
        })

    user.addListener(MainUser.EVENT_STATE_CHANGE, async function () {
        if (user.isLoggedIn) {
            await listGroup.update();


            let r = URLrooter.parseURL('/app/groupes/$id/*', { id : /[0-9]+/ });

            if (r) _toggleSelected(r);
            else {
                r = URLrooter.parseURL('/app/groupes/$id', { id : /[0-9]+/ });
                if (r) _toggleSelected(r);
            }
        }
    });



    window.LG = listGroup;
    URLrooter.addListener('/app/groupes/$id/*', _toggleSelected, _removeAllSelected, { id : /[0-9]+/ });

</script>