<div class="container">
	<div class="element">
		<h3>Répartions des fichiers</h3><br>
		<div class="split">
			<div class="piechart"></div>
			<div class="desc">
				<ul>
					<li>Pouet</li>
					<li>Truc</li>
					<li>Machin</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="element">
		<h3>Espace de stockage :</h3>
		<p>Taille moyenne des fichiers : 420 Mio</p>
		<p>Nombre de fichiers : 69</p>
	</div>
	<div class="element">
		<h3>Classement des fichier</h3>
	</div>
	<div class="element">
		<h3>Score d'activité</h3>
	</div>
	<div class="element">
		<h3>Score de régularité</h3>
	</div>
	<div class="element">
		<h3>Stats du groupe :</h3>
		<p>Nombre de membres : 13</p>
		<p>Nombre de messages envoyé : 7452</p>
		<p>Nombre de membre ayant rejoint : 42</p>
		<p>Nombre de membre ayant quitté : 29</p>
	</div>
</div>
<script>

</script>