<div class="content">
    <h1>{{ groupe.nom }} — Paramètres</h1>
    <div>
        <h2>Appartenance au groupe</h2>
        <div>
            <button class="btn btn-warning">{{ MARK this "leave" }}Quitter le groupe</button>
        </div>

        <h2>Information sur le groupe</h2>
        <div><!-- Debug : {{ groupe.creator_id }} {{ user.id }} -->
            <div data-visible="{{ EQUALS groupe.creator_id user.id }}">
                <div>Nom du groupe : <input type="text" placeholder="{{ groupe.nom }}" value="{{ groupe.nom }}">{{ MARK this 'group_name' }}</div>
                <div>Description du groupe : <div class="text-zone" contentEditable="true">{{ MARK this "group_description" }}{{ groupe.description }}</div></div>
                <button data-visible="{{ EQUALS groupe.creator_id user.id }}" class="btn btn-primary">{{ MARK this "valid-modif" }} Valider les modifications</button>
            </div>
            <div data-visible="{{ NOT EQUALS groupe.creator_id user.id }}">
                <div>Nom du groupe :{{ groupe.nom }}
                <div>Description du groupe : <div class="text-zone">{{ groupe.description }}</div></div>
            </div>
        </div>

        <h2>Candidature</h2>
        <div>
            <div class="row-container scrollable candidatures">
                {{ MARK this "candidates" }}
            </div>
        </div>

        <h2>Roles</h2>
        <div>
            <div class="roles scrollable">
                <div class="header">
                    <div class="nom">Nom</div>
                    <div>
                        <div class="categ">Messages</div>
                        <div class="spec">
                            <div>Ecrire</div>
                            <div>Supprimer</div>
                            <div>Gerer</div>
                        </div>
                    </div>
                    <div>
                        <div class="categ">fichier</div>
                        <div class="spec">
                            <div>Telecharger</div>
                            <div>Creer</div>
                            <div>Renommer</div>
                            <div>Supprimer</div>
                            <div>Gerer</div>
                        </div>
                    </div>
                    <div>
                        <div class="categ">dossier</div>
                        <div class="spec">
                            <div>Creer</div>
                            <div>Renommer</div>
                            <div>Supprimer</div>
                            <div>Gerer</div>
                        </div>
                    </div>
                    <div>
                        <div class="categ">Membres</div>
                        <div class="spec">
                            <div>accepter</div>
                            <div>kick</div>
                            <div>role</div>
                        </div>
                    </div>
                    <div>
                        <div class="categ">Role</div>
                        <div class="spec">
                            <div>gerer</div>
                        </div>
                    </div>
                    <div>
                        <div class="categ">Groupe</div>
                        <div class="spec">
                            <div>renommer</div>
                            <div>decrire</div>
                        </div>
                    </div>
                    <div class="remove">Supprimer</div>
                </div>
                <div class="row-container scrollable">
                    {{ MARK this "roles" }}
                </div>
                <div class="append">
                    {{ MARK this "roles_new" }}
                    <input type="text" placeholder="Nom du role"> <button class="btn btn-primary">Ajouter</button>
                </div>
            </div>

            <div class="panel">
                <button class="btn btn-default">{{ MARK this "roles_cancel" }}Annuler</button>
                <button class="btn btn-primary">{{ MARK this "roles_save" }}Sauvegarder</button>
            </div>
        </div>

        <h2>Membres</h2>
        <div>
            <input type="text" placeholder="filtrer par nom">
            <div class="row-container scrollable membres">
                {{ MARK this "membres" }}
            </div>
        </div>
    </div>
</div>
<script>
    var groupe = null;
    var roles = [];
    var candidates = [];
    var membres = [];
    var listRoles = null;
    var listCandidates = null;
    var listMembres = null;

    await doc.update({ groupe: {}, user });
    
    async function onOpenSettings({ id }) {
        groupe = await GROUPES.get(id);

        if (groupe instanceof Error) { // TODO : affichage erreur / redirection sur groupe 404
            console.error(groupe);
            groupe = null;
            setURL(`/app/groupes/error/404`);
        } else if (groupe.status != 'accepted') { // TODO : redirection accès refusé
            console.log("accès refusé : ne fait pas parti du groupe");
            setURL(`/app/groupes/${groupe.id}/join`);
        } else {
            doc.update({ groupe });

            showRoles();

            showCandidates();

            showMembres();
        }
    }

    /* Permettre à l'utilisateur de quitter le groupe */
    
    console.log(doc.ctx.markedElement["leave"]);
    Dom.addListener(doc.ctx.markedElement["leave"], "click", async function () {

        if (groupe) {

            let c = await confirmeAction("Êtes-vous sûr de vouloir quitter ce groupe ?");
            
            if (c) {
                let r = await groupe.leave();
                ListGroupe.update();

                if (r instanceof Error) console.error(r);
                else setURL(`/app/groupes/${groupe.id}/`);
            }
        }
    });

    /* Permettre à l'utilisateur de modifier les informations sur le groupe */
    Dom.addListener(doc.ctx.markedElement["valid-modif"], "click", async function () {
        if (groupe) {
            let new_name = doc.ctx.markedElement["group_name"].children[0].value;
            let new_description = Dom.text(doc.ctx.markedElement["group_description"]);

            // affecte les valeurs au groupe
            groupe.nom = new_name;
            groupe.description = new_description;

            // puuuUUUUSHHHHHH !!!!!!!!!!!!!!!!
            let success = await groupe.push();
            if (success instanceof Error) {
                console.log("Oh non !! le groupe n'a pas été rename ");
            } else {
                ListGroupe.update();
            }
        }
    });


    /* FONCTIONNALITE : Candidatures */

    async function showCandidates() {
        listCandidates.clear();

        candidates = await groupe.getCandidates();

        if (candidates instanceof Error) {
            console.error(candidates);
            candidates = null;
            return;
        }

        let nb_candidates = candidates.length;
        for (let i = 0; i < nb_candidates; i++) {
            let id = candidates[i].id;
            let processing = false;
            listCandidates.add(id, candidates[i], {
                accept: async function () {
                    if (processing) return;
                    processing = true;

                    let r = await groupe.accept(id);

                    processing = false;

                    if (r instanceof Error) console.error(r);
                    else listCandidates.remove(id);
                },
                reject: async function () {
                    if (processing) return;
                    processing = true;

                    let r = await groupe.refuse(id);

                    processing = false;

                    if (r instanceof Error) console.error(r);
                    else listCandidates.remove(id);
                }
            });
        }
    }
    



    /* FONCTIONNALITE : Roles */

    async function showRoles() {
        listRoles.clear();
        roles = await groupe.getRoles();

        if (roles instanceof Error) {
            console.error(roles);
            roles = null;
        } else {

            let nb_roles = roles.length;
            for (let i = 0; i < nb_roles; i++) {
                let id = roles[i].id;
                listRoles.add(id, roles[i], {
                    state: 'original',
                    remove : function () {
                        console.log('click');
                        console.log(id, listRoles.getElement(id));
                        Dom.attribute(listRoles.getElement(id), { 'data-role-state': 'deleted'});
                    }
                });
            }

        }
    }

    function createRole(nom) {
        let id = `new_${Date.now()}`;
        listRoles.add(id, {
            "id": "",
            "nom": nom,
            // chat
            "write_message": false,
            "remove_message": false,
            "remove_any_message": false,
            // file
            "download_file": false,
            "create_file": false,
            "rename_file": false,
            "remove_file": false,
            "remove_any_file": false,
            // folder
            "create_folder": false,
            "rename_folder": false,
            "remove_folder": false,
            "remove_any_folder": false,
            // user
            "accept_user": false,
            "kick_user": false,
            "manage_role": false,
            // role
            "edit_role": false,
            // groupe
            "edit_name": false,
            "edit_description": false
        }, { state: 'added', remove: () => listRoles.remove( id ) });
    }

    Dom.addListener(doc.ctx.markedElement['roles_new'].children[1], 'click', function () {
        let nom = doc.ctx.markedElement['roles_new'].children[0].value;

        if (nom == '') return; // exception on sort

        createRole(nom);
    });

    function extractDataFromRole(dom_element) {
        let id = Dom.attribute(dom_element, 'data-role-id');
        let nom = Dom.text(Dom.find('.nom', dom_element)[0]);
        let opts = Dom.find('.opt', dom_element);
        let nb_opts = opts.length;

        let data = { id, nom };

        for (let i = 0; i < nb_opts; i++) {
            let checkbox = opts[i].children[0];
            data[checkbox.name] = checkbox.checked;
        }

        return data;
    }

    Dom.addListener(doc.ctx.markedElement['roles_save'], 'click', async function () {
        let dom_elements = listRoles.getElements();
        let nb_elements = dom_elements.length;

        let edited = [];
        let added = [];
        let deleted = [];

        for (let i = 0; i < nb_elements; i++) {
            let dom_element = dom_elements[i];
            let data = extractDataFromRole(dom_element);
            let state = Dom.attribute(dom_element, 'data-role-state');

            if (state == 'added') {
                data['id'] = null;
                added.push(data);
            } else if (state == 'deleted') {
                let id = data['id'];
                deleted.push(id);
            } else if (!objectCompare(data, roles[i])) {
                edited.push(data);
                console.log(data);
            }
        }

        // envoi de la requete au serveur.
        let r = await groupe.setRoles(edited, deleted, added);

        if (r instanceof Error) console.error(r);

        showRoles();
        showMembres();
    });

    Dom.addListener(doc.ctx.markedElement['roles_cancel'], 'click', showRoles);


    /* FONCTIONNALITE : Membres */
    
    async function showMembres() {
        listMembres.clear();
        let r = await groupe.getMembres();
        let roles = await groupe.getRoles();

        if (r instanceof Error) console.error(r);
        
        membres = r;

        let nb_roles = roles.length;
        var _roles = new Array(nb_roles);
        for (let i = 0; i < nb_roles; i++)
            _roles[i] = { value: roles[i].id, html: roles[i].nom };

        let nb_membres = membres.length;
        for (let i = 0; i < nb_membres; i++) {
            let id = membres[i].id;
            listMembres.add(id, membres[i], {
                roles: _roles,
                change_role: () => groupe.setRole(id, Dom.find('select', listMembres.getElement(id))[0].value),
                kick: async function () {
                    listMembres.remove(id);
                    groupe.kick(id);
                }
            });
        }
    }




    /* reste */

    let rolesHTML = fetch("/template/app.groupes.settings.roleitem.html");
    let candidatHTML = fetch("/template/app.groupes.settings.candidatitem.html");
    let membreHTML = fetch("/template/app.groupes.settings.membreitem.html");

    rolesHTML = await rolesHTML;
    candidatHTML = await candidatHTML;
    membreHTML = await membreHTML;

    rolesHTML = await rolesHTML.text();
    candidatHTML = await candidatHTML.text();
    membreHTML = await membreHTML.text();

    listRoles = new HTMLList(doc.ctx.markedElement['roles'], new uTemplate.parser(rolesHTML));
    listCandidates = new HTMLList(doc.ctx.markedElement['candidates'], new uTemplate.parser(candidatHTML));
    listMembres = new HTMLList(doc.ctx.markedElement['membres'], new uTemplate.parser(membreHTML));

    URLrooter.addListener("/app/groupes/$id/settings", onOpenSettings, null, { id: /^[0-9]+$/})
</script>