<div class="t-row" data-role-id="{{ role.id }}">
    <div>{{ role.nom }}</div>
    <!-- chat -->
    <div>{{ role.read_message }}</div>
    <div>{{ role.write_message }}</div>
    <div>{{ role.remove_message }}</div>
    <div>{{ role.remove_any_message }}</div>
    <!-- file -->
    <div>{{ role.create_file }}</div>
    <div>{{ role.rename_file }}</div>
    <div>{{ role.remove_file }}</div>
    <div>{{ role.remove_any_file }}</div>
    <div>{{ role.download_file }}</div>
    <!-- folder -->
    <div>{{ role.create_folder }}</div>
    <div>{{ role.rename_folder }}</div>
    <div>{{ role.remove_folder }}</div>
    <div>{{ role.remove_any_folder }}</div>
    <!-- user -->
    <div>{{ role.accept_user }}</div>
    <div>{{ role.kick_user }}</div>
    <div>{{ role.add_role }}</div>
    <div>{{ role.remove_role }}</div>
    <!-- groupe -->
    <div>{{ role.edit_name }}</div>
    <div>{{ role.edit_description }}</div>
    <!-- role -->
    <div>{{ role.create_role }}</div>
    <div>{{ role.delete_role }}</div>
    <div>{{ role.edit_role }}</div>
</div>