<!-- fenetre centrale -->
<div class="">
    {{ INCLUDE this.currentNode "/template/app.explorer.html" }}
    <!---->
    {{ INCLUDE this.currentNode "/template/app.preview.html" }}
</div>

<!-- fenetre chatbox -->
{{ INCLUDE this.currentNode "/template/app.chatbox.html" }}


<div class="groupe-header">
    <!-- Information sur le groupe  -->
    <h1>{{ groupe.nom }}</h1>
    <p class="descr">{{ groupe.description }}</p>
</div>
<div class="groupe-main">
    <div class="column scrollable" style="width:calc(100% - {{ chat_width }});">
        <div class="explorer">
            {{ INCLUDE this.currentNode "/template/app.groupes.main.explorer.html" }}
        </div>
        <div class="preview" data-visible="{{ false }}">
            {{ INCLUDE this.currentNode "/template/app.groupes.main.preview.html" }}
        </div>
    </div>
    <div class="column scrollable" style="width:{{ chat_width }};">
        <div class="chat">
            {{ INCLUDE this.currentNode "/template/app.groupes.main.chat.html" }}
        </div>
    </div>
</div>

<script>
    doc.update({ chat_width: '40%' });

    window.setChatSize= function (w) {
        doc.update({ chat_width: w });
    };

    async function checkGroupe({ id, dir }) {
        let groupe = await GROUPES.get(id);

        if (dir != "join" && groupe.status != "membre") {
            console.log(dir)
            setURL(`/app/groupes/${id}/join`);
        }
    }

    URLrooter.addListener("/app/groupes/$id/$dir", checkGroupe, null, { id : /^[0-9]+$/, dir: /^(?:[0-9]+)?$/ });

</script>