<div class="dashboard-header">
	<a href="/app/group/{{ group.id }}" class="back icon icon-arrow-left"></a>
	<div class="header">
		<h1>{{ group.nom }}</h1>
		<div class="sep"></div>
		<h3>Tableau de Bord</h3>
	</div>
</div>
<div class="dashboard-container">
	<div class="element">
		<h3>Répartitions des fichiers</h3><br>
		<div>
			<canvas style="width: 100%"></canvas>
			{{ MARK this "repart_type" }}
		</div>
	</div>
	<div class="element">
		<h3>Espace de stockage</h3>
		<p>Taille totale utilisée : {{ SIZE group.dashboard.avg_space }}</p>
		<p>Taille moyenne d'un fichier : {{ SIZE group.dashboard.avg_space }}</p>
		<p>Nombre de fichiers present sur le groupe : {{ group.nb_files }}</p>
	</div>
	<div class="element">
		<h3>Statistiques (Presence sur le groupe)</h3>
		<p>Nombre de membres : {{ group.nb_membres }}</p>
		<p>Nombre de messages envoyés : {{ group.nb_messages }}</p>
		<!--<p>Nombre de membre ayant rejoint : </p>-->
		<!--<p>Nombre de membre ayant quitté : 29</p>-->
		<div>
			<canvas style="width: 100%"></canvas>
			{{ MARK this "repart_role" }}
		</div>
	</div>
	<div class="element">
		<h3>Fichiers les plus populaires</h3>
		<div class="palmares">
			<div class="p-head">
				<div class="rank"></div>
				<div class="name-1">Nom</div>
				<div class="data">Nombre de Likes</div>
			</div>
			<div class="p-body row-container">
				<!-- plus bas dans le code il y a le html associé aux lignes du tableau -->
				{{ MARK this "palmares-files-likes" }}
			</div>
		</div>
	</div>
	<div class="element">
		<h3>Fichiers les plus commentés</h3>
		<div class="palmares">
			<div class="p-head">
				<div class="rank"></div>
				<div class="name-1">Nom</div>
				<div class="data">Nombre de messages</div>
			</div>
			<div class="p-body row-container">
				<!-- plus bas dans le code il y a le html associé aux lignes du tableau -->
				{{ MARK this "palmares-files-comments" }}
			</div>
		</div>
	</div>
	<div class="element">
		<h3>Utilisateurs les plus actifs</h3>
		<p>Le score est calculé pour chaque utilisateur en fonction du nombre de messages et de fichiers postés dans le groupe.<br/>
		Chaque message correspond à un point, chaque fichier correspond à vingt points</p>
		<div class="palmares">
			<div class="p-head">
				<div class="rank"></div>
				<div class="name-3">Nom</div>
				<div class="data">Nombre de Messages</div>
				<div class="data">Nombre de Fichiers</div>
				<div class="data">Score de Présence</div>
			</div>
			<div class="p-body scrollable row-container" style="max-height: 300px;">
				<!-- plus bas dans le code il y a le html associé aux lignes du tableau -->
				{{ MARK this "palmares-users" }}
			</div>
		</div>
	</div>
	<div class="element">
		<h3>Activité du groupe</h3>
		<div class="">
			{{ MARK this "messages" }}
		</div>
	</div>
</div>
<script>
	var group, dashboard;
	var repart_type_chart;
	var repart_role_chart;
	var messages_chart;
	var palmares_files_likes;
	var palmares_files_comments;

	doc.update({});

	/**
	 * --------------------------------------------------------------------------
	 * Some color function because they don't have those
	 * --------------------------------------------------------------------------
	 */
	function rgbaToHex(rgba) {
        let r = ('0' + Math.round(rgba.r).toString(16)).slice(-2);
        let g = ('0' + Math.round(rgba.g).toString(16)).slice(-2);
        let b = ('0' + Math.round(rgba.b).toString(16)).slice(-2);
        let a = ('0' + Math.round(rgba.a).toString(16)).slice(-2);
        return `#${r}${g}${b}${a}`;
    }

    function rgbFromHCL({ H, C, L }) {
        let X = C * (1 - Math.abs(H % 2 - 1));
        let m = L - C / 2;
        let color = null;

        if (C == 0) color = { r: 0, g: 0, b: 0 };
        else if (0 <= H && H < 1) color = { r: C, g: X, b: 0 };
        else if (1 <= H && H < 2) color = { r: X, g: C, b: 0 };
        else if (2 <= H && H < 3) color = { r: 0, g: C, b: X };
        else if (3 <= H && H < 4) color = { r: 0, g: X, b: C };
        else if (4 <= H && H < 5) color = { r: X, g: 0, b: C };
        else if (5 <= H && H < 6) color = { r: C, g: 0, b: X };

        color.r += m;
        color.g += m;
        color.b += m;

        return color;
    }
	
	
	/**
	 * --------------------------------------------------------------------------
	 * code normal 
	 * --------------------------------------------------------------------------
	 */


	async function changeGroup({ group_id }) {
		if (!group || group.id != group_id) {
			group = await GROUPES.get(group_id);
			if (group instanceof Error) return;
		}

		dashboard = await group.loadDashboard();
		
		if (dashboard instanceof Error) return;

		doc.update({ group });

		let members_data = extractMembersData(group.dashboard.users);
		
		setRepartRoleChartData(members_data.roles_parts);
		setRepartTypeChartData(group.dashboard.repart_type);
		setMessagesChartData(group.dashboard.messages);
		setPalmaresUsers(group.dashboard.users);
		setPalmaresData(palmares_files_likes, group.dashboard.most_liked);
		setPalmaresData(palmares_files_comments, group.dashboard.most_commented);

	}

	function extractMembersData(members) {
		var roles_parts = {};
		let nb_members = members.length;

		for (let i = 0; i < nb_members; i++) {
			let user = members[i];
			if (!roles_parts[user.role]) roles_parts[user.role] = 1;
			else roles_parts[user.role]++;
		}

		return { roles_parts };
	}

	function setPalmaresUsers(members) {
		let nb_members = members.length;
		for (let i = 0; i < nb_members; i++) members[i].score = 20 * members[i].nb_files + members[i].nb_messages;
		
		members.sort((a, b) => b.score - a.score);

		setPalmaresData(palmares_users, members);
	}

	function setRepartTypeChartData(repart) {
		let nb_types = repart.length;
		var types = new Array(nb_types);
		var nb_files_per_type = new Array(nb_types);
		
		for (let i = 0; i < nb_types; i++) {
			types[i] = repart[i].type;
			nb_files_per_type[i] = repart[i].nb_files;
		}

		setChartData(repart_type_chart, types, nb_files_per_type);
	}

	function setRepartRoleChartData(repart) {
		var roles = Object.keys(repart);
		var nb_members_per_role = Object.values(repart);

		setChartData(repart_role_chart, roles, nb_members_per_role);
	}

	function setChartData(chart, labels, data) {
		let nb_labels = labels.length;
		var colors = new Array(nb_labels);

		for (let i = 0; i < nb_labels; i++)
			// Hue in [0, 6[, Chroma in [0, 255], Luminosity in [0, 255]
			colors[i] = rgbaToHex({...rgbFromHCL({ H: i * 6 / nb_labels, C: 135, L: 186.5 }), a: 255 });

		chart.data.labels = labels;
		chart.data.datasets = [{
			data: data,
			backgroundColor: colors
		}];
		chart.update();

	}

	function setMessagesChartData(messages) {
		var data = [];
		const hour = 60 * 60 * 1000;
		messages.sort((a, b) => a - b);
		let nb_messages = messages.length;
		let ld = 0;
		let lts = 0;

		for (let i = 0, j = 0; i < nb_messages; i++) {
			let date = new Date(messages[i]);
			if (messages[i] - lts > 25 * hour || date.getDate() != ld) {
				ld = date.getDate();
				lts = messages[i];
				data[j++] = [date, 1];
			} else data[j - 1][1]++;
		}

		console.log(messages, data);

		messages_chart.setData(data);
	}

	function setPalmaresData(palmares, list) {
		palmares.clear();
		
		let nb_files = list.length;
		for (let i = 0; i < nb_files; i++)
			palmares.add(i, list[i], { index: i + 1 });
	}

	repart_type_chart = new Chart(doc.ctx.markedElement['repart_type'].children[0].getContext('2d'), {
		type: 'pie',
		options: {
			aspectRatio: 2,
    		responsive: true,
			plugins: {
				legend: {
					position: 'right'
				}
			}
		}
	});
	repart_role_chart = new Chart(doc.ctx.markedElement['repart_role'].children[0].getContext('2d'), {
		type: 'pie',
		options: {
			aspectRatio: 2,
			responsive: true,
			plugins: {
				legend: {
					position: 'right'
				}
			}
		}
	});
	
	messages_chart = new CalendarChart(doc.ctx.markedElement['messages'], {
		legendTitle: 'Legende : nombre de messages',
		dataColors: {
			negative: '#00000000',
			neutral: '#0dcaf000',//'#ffffff00'
			positive: '#0dcaf0ff'
		}
	});
	let palmares_fl_html = `
	<div class="palm-row">
		<div class="rank">{{ index }}</div>
		<div class="name-1">{{ element.name }}</div>
		<div class="data">{{ element.nb_likes }}</div>
	</div>
	`;
	let palmares_fc_html = `
	<div class="palm-row">
		<div class="rank">{{ index }}</div>
		<div class="name-1">{{ element.name }}</div>
		<div class="data">{{ element.nb_messages }}</div>
	</div>
	`;
	let palmares_u_html = `
	<div class="palm-row">
		<div class="rank">{{ index }}</div>
		<div class="name-3">{{ element.name }}</div>
		<div class="data">{{ element.nb_messages }}</div>
		<div class="data">{{ element.nb_files }}</div>
		<div class="data">{{ element.score }}</div>
	</div>
	`;

	palmares_files_likes = new HTMLList(doc.ctx.markedElement['palmares-files-likes'], new uTemplate.parser(palmares_fl_html));
	palmares_files_comments = new HTMLList(doc.ctx.markedElement['palmares-files-comments'], new uTemplate.parser(palmares_fc_html));
	palmares_users = new HTMLList(doc.ctx.markedElement['palmares-users'], new uTemplate.parser(palmares_u_html));

	window.repart_type_chart = repart_type_chart;

	URLrooter.addListener('/app/group/$group_id/dashboard', changeGroup, null, { group_id : /[0-9]+/ });
</script>