<div class="app" data-visible="{{ user.isLoggedIn }}">
    <!-- Groupes -->
    {{ INCLUDE this.currentNode "/template/app.sidebar.html" }}

    <div class="main subpage">
        <div class="app-home text-center subpage scrollable" data-visible="{{ URLLIKE '/app/' }}">
            {{ INCLUDE this.currentNode "/template/app.home.html" }}
        </div>
        <div class="groupe subpage" data-visible="{{ URLLIKE '/app/group/*' }}">
            {{ INCLUDE this.currentNode "/template/app.group.html" }}
        </div>
    </div>
</div>
<div class="content text-center" data-visible="{{ NOT user.isLoggedIn }}">
    <h2>Collaborez avec le monde entier en utilisant <b>Shared</b></h2>
    <p>Vous aussi, utilisez Shared pour partager des fichiers et réagir en postant des messages et en aimant des fichiers.
        <br>Pour utiliser nos services, vous devez d'abord vous identifier.</p>
    <p>J'ai deja un compte :<p>
    <a class="btn btn-primary" href="/account/login">Se connecter</a>
    <p>Je suis nouveau :<p>
    <a class="btn btn-primary" href="/account/register">S'inscrire</a>
</div>

<script>
    doc.update({ user });
    user.addListener(MainUser.EVENT_STATE_CHANGE, function () { doc.update(); });
    URLrooter.addListener('/app/*', function () {
        doc.update();
    }, function () { doc.update(); });
</script>