<div class="folder item">
    {{ ADDLISTENER this.currentNode "dblclick" open }}
    <div>
        <div class="data">
            <div class="name clip">{{ element.nom }}</div>
            <div class="description clip">{{ element.description }}</div>
        </div>
        <div class="optional-data">
            <div class="nb_files">{{ element.nb_files }}</div>
            <div class="nb_folders">{{ element.nb_folders }}</div>
            <div class="nb_messages" data-new-messages="{{ element.new_messages }}">{{ element.nb_messages }}</div>
        </div>
        <div class="action dropstart dropdown">
            <em class="icon icon-menu"></em>
            <div class="dropdown-menu dropdown-menu-right">
                <!--<a class="dropdown-item">Renommer</a>-->
                <a class="dropdown-item">{{ ADDLISTENER this.currentNode "click" open }}Ouvrir</a>
                <a class="dropdown-item" data-visible="{{ permissions.remove_folder }}">{{ ADDLISTENER this.currentNode "click" remove }}Supprimer</a>
            </div>
        </div>
    </div>
</div>