<div class="content">
    <h1>{{ groupe.nom }}</h1>
    <h2>Paramètres</h2>
    <div>
        <h2>Appartenance au groupe</h2>
        <div>
            <button class="btn btn-warning">{{ MARK this "leave" }}Quitter le groupe</button>
        </div>

        <h2>Information sur le groupe</h2>
        <div><!-- Debug : {{ groupe.creator_id }} {{ user.id }} -->
            <div>Nom du groupe : <input type="text" data-visible="{{ EQUALS groupe.creator_id user.id }}" placeholder="{{ groupe.nom }}" value="{{ groupe.nom }}"></div>
            <div>Description du groupe : <div class="text-zone" contentEditable="{{ EQUALS groupe.creator_id user.id }}">{{ groupe.description }}</div></div>
            <button data-visible="{{ EQUALS groupe.creator_id user.id }}" class="btn btn-primary">{{ MARK this "valid-modif" }} Valider les modifications</button>
        </div>

        <h2>Roles</h2>
        <div>
            List des Roles
            <div>
                <div>

                </div>
                <div>
                    {{ MARK this "roles" }}
                </div>
            </div>
        </div>

        <h2>Membres</h2>
        <div>
            <input type="text" placeholder="nom">
            <div class="row-container">
                <div class="row"></div>
            </div>
        </div>
    </div>
</div>
<script>
    let groupe = null;

    await doc.update({ groupe: {}, user });

    console.log(doc.ctx);
    
    async function onOpenSettings({ id }) {
        groupe = await GROUPES.get(id);

        if (groupe instanceof Error) { // TODO : affichage erreur / redirection sur groupe 404
            console.error(r);
            groupe = null;
            setURL(`/app/groupes/error/404`);
        } else if (groupe.status != 'accepted') { // TODO : redirection accès refusé
            console.log("accès refusé : ne fait pas parti du groupe");
            setURL(`/app/groupes/${groupe.id}/join`);
        } else {
            doc.update({ groupe });
        }
    }

    /* Permettre à l'utilisateur de quitter le groupe */
    Dom.addListener(doc.ctx.markedElement["leave"], "click", async function () {
        if (groupe) {
            let c = await confirmeAction("Êtes-vous sûr de vouloir quitter ce groupe ?");
            if (c) {
                let r = await groupe.leave();
                ListGroupe.update();

                if (r instanceof Error) console.error(r);
                else setURL(`/app/groupes/${groupe.id}/`);
            }
        }
    });

    /* Permettre à l'utilisateur de modifier les informations sur le groupe */
    Dom.addListener(doc.ctx.markedElement["valid-modif"], "click", async function () {

    });

    URLrooter.addListener("/app/groupes/$id/settings", onOpenSettings, null, { id: /^[0-9]+$/})
</script>