
<div class="header">
    <a class="back-link" href="/app/groupes/{{ group.id }}/{{ folder_id }}"><span class="icon icon-arrow-left"></span></a>
    <div class="title">{{ file.nom }}</div>
    <div class="buttons">
        <a class="preview-link" href="/app/groupes/{{ group.id }}/{{ folder_id }}/{{ file.id }}/preview" data-visible="{{ EQUALS option 'info' }}"><span class="icon icon-eye"></span></a>
        <a class="info-link" href="/app/groupes/{{ group.id }}/{{ folder_id }}/{{ file.id }}/info" data-visible="{{ EQUALS option 'preview' }}"><span class="icon icon-information-outline"></span></a>
    </div>
    <div class="spaceforchatbtn"></div>
</div>
<div class="body">
    <div class="info-box scrollable" data-visible="{{ EQUALS option 'info' }}">
        <div class="info">
            <div class="option">
                <a href="./edit-info"><span class="icon icon-edit-3"></span></a>
            </div>
            <div class="my-row nom">
                <div class="col1">Nom :</div>
                <div class="col2">{{ file.nom }}</div>
            </div>
            <div class="my-row filetype">
                <div class="col1">Type : </div>
                <div class="col2">{{ file.type }}</div>
            </div>
            <div class="my-row description">
                <div class="col1">description:</div>
                <div class="col2">{{ file.description }}</div>
            </div>
            <div class="data">
                <div class="author"><span class="icon icon-quill"></span>{{ file.auteur.name }}</div>
                <div class="publish_date"><span class="icon icon-clock1"></span>le {{ AUTOTIME this file.publish_date "default" }}</div>
                <div class="size"><span class="icon icon-save-disk"></span>{{ SIZE file.size }}</div>
                <div class="nb_downloads"><span class="icon icon-download"></span>{{ file.nb_downloads }}</div>
                <div class="nb_messages"><span class="icon icon-chat"></span>{{ file.nb_comments }}</div>
                <div class="nb_likes"><span class="icon icon-favorite"></span>{{ file.nb_likes }}</div>
            </div>
        </div>
    </div>
    <div class="info-box scrollable"  data-visible="{{ EQUALS option 'edit-info' }}">
        <div class="info">
            <div class="option">
                <span class="icon icon-save-disk">{{ ADDLISTENER this.currentNode 'click' save }}</span>
            </div>
            <div class="my-row nom">
                <div class="col1">Nom :</div>
                <div class="col2" data-erreur="{{ false }}" contenteditable>{{ MARK this "filename" }}<!---->{{ file.nom }}</div>
            </div>
            <div class="my-row filetype">
                <div class="col1">Type : </div>
                <div class="col2">{{ file.type }}</div>
            </div>
            <div class="my-row description">
                <div class="col1">description:</div>
                <div class="col2" data-erreur="{{ false }}" contenteditable>{{ MARK this "description" }}<!---->{{ file.description }}</div>
            </div>
            <div class="data">
                <div class="author"><span class="icon icon-quill"></span>test1</div>
                <div class="publish_date"><span class="icon icon-clock1"></span>le {{ AUTOTIME this file.publish_date "default" }}</div>
                <div class="size"><span class="icon icon-save-disk"></span>{{ SIZE file.size }}</div>
                <div class="nb_downloads"><span class="icon icon-download"></span>{{ file.nb_downloads }}</div>
                <div class="nb_messages"><span class="icon icon-chat"></span>{{ file.nb_comments }}</div>
                <div class="nb_likes"><span class="icon icon-favorite"></span>{{ file.nb_likes }}</div>
            </div>
        </div>
    </div>
    <div class="preview-box scrollable" data-visible="{{ EQUALS option 'preview' }}">
        <div class="image-preview" data-visible="{{ EQUALS preview 'image' }}">
            <div class="image">{{ MARK this "image" }}</div>
            <div class="control">
                <div class="zoom-default ctrl-btn">{{ ADDLISTENER this.currentNode "click" zoom_default }}<span class="icon icon-resize"></span></div>
                <div class="zoom-in ctrl-btn">{{ ADDLISTENER this.currentNode "click" zoom_in }}<span class="icon icon-zoom_in"></span></div>
                <div class="zoom-out ctrl-btn">{{ ADDLISTENER this.currentNode "click" zoom_out }}<span class="icon icon-zoom_out"></span></div>
            </div> 
        </div>
        <div class="text-preview" data-visible="{{ EQUALS preview 'text' }}">
            <pre><code class="language-xxxx">{{ MARK this "text-code" }}</code></pre>
        </div>
        <div class="video-preview" data-visible="{{ EQUALS preview 'video' }}">
            {{ MARK this "video" }}
            <video controls src=""></video>
        </div>
        <div class="audio-preview" data-visible="{{ EQUALS preview 'audio' }}">
            <div class="audio-box">
                <div class="audio-controls">
                    <div class="play-btn" data-state="play">
                        {{ ADDLISTENER this.currentNode "click" togglePlay }}
                        <span class="icon icon-play"></span>
                        <span class="icon icon-pause"></span>
                    </div>
                </div>
                <div class="audio-time">-:--/-:--</div>
                <div class="audio-display">
                    {{ MARK this "audio" }}
                </div>
            </div>
        </div>
        <div class="pdf-preview" data-visible="{{ EQUALS preview 'pdf' }}">
            {{ MARK this "pdf" }}
            <iframe src=""></iframe>
        </div>
        <div class="no-preview" data-visible="{{ EQUALS preview 'no' }}">
            <div>Aucune previsualisation possible : format non supporté</div>
        </div>
        <div class="too-heavy" data-visible="{{ EQUALS preview 'too-heavy' }}">
            <div>Aucune previsualisation possible : fichier trop lourd</div>
        </div>
    </div>
</div>
<script>
    const Ko = 1000;
    const Mo = 1000 * Ko;
    const PREVIEW_TYPE = Object.freeze({
        image: { types: ['image/bmp', 'image/jpeg', 'image/png', 'image/gif', 'image/svg+xml', 'image/tiff', 'image/webp'], max_size: 30 * Mo },
        text: {
            types: [/^text\/.*/],
            max_size: 10 * Ko,
            language: {}
        },
        video: { types: ['video/mp4', 'video/ogg', 'video/webm'], max_size: 1000 * Mo },
        audio: { types: ['audio/mpeg', 'audio/webm', 'audio/mp4', 'audio/vnd.wave', 'audio/wav', 'audio/wave', 'audio/x-wav', 'audio/x-pn-wav'], max_size: 1000 * Mo },
        pdf: { types: ['application/pdf'], max_size: 500 * Mo }        
    });

    var group = null;
    var file = null;

    var nom = null;
    var description = null;

    var zoom = 100;
    var image_preview = null;
    var text_preview = null;
    var video_preview = null;
    var audio_preview = null;
    var audio_preview_element = null;
    var pdf_preview = null;

    function previewTypeMatch(types, type) {
        let nb_types = types.length;
        let i = 0;
        while (i < nb_types && !( (types[i] instanceof RegExp) ? types[i].test(type) : types[i] == type ) ) i++;
        return i < nb_types;
    }
    
    /**
     * indique quel preview utiliser pour le fichier
     */
    function whichPreview(type) {

        let previews = Object.keys(PREVIEW_TYPE);
        let nb_previews = previews.length;
        let i = 0;
        while (i < nb_previews && !previewTypeMatch(PREVIEW_TYPE[previews[i]].types, type)) i++;

        return (i < nb_previews) ? previews[i] : 'no';
    }

    function zoom_default() {
        zoom = 100;
        Dom.css(image_preview, {
            'background-size': 'contain'
        });
    }
    function zoom_in() {
        if (zoom >= 500) return;
        zoom += 10;
        Dom.css(image_preview, {
            'background-size': `auto ${zoom}%`
        });
    }
    function zoom_out() {
        zoom -= 10;
        if (zoom <= 2) zoom = 2;
        Dom.css(image_preview, {
            'background-size': `auto ${zoom}%`
        });
    }


    async function previewImage(file) {
        doc.update({ loading: true });

        console.log('debug', file, file.size * 1, PREVIEW_TYPE.image.max_size);
        if (file.size * 1 < PREVIEW_TYPE.image.max_size) {
            console.log('debug', file, file.size, PREVIEW_TYPE.image.max_size);
            let f = await file.download();
            let blob_url = window.URL.createObjectURL(f);
            Dom.css(image_preview, {
                'background-image': `url(${blob_url})`,
                'background-size': 'contain',
                'background-position-x': 'calc(50% - 0px)',
                'background-position-y': 'calc(50% - 0px)'
            });
        }

        doc.update({ loading: false });
    }

    async function previewText(file) {
        doc.update({ loading: true });

        if (file.size * 1 < PREVIEW_TYPE.text.max_size) {
            let language = file.nom.split('.').pop();
            let f = await file.download();
            let f_text = await f.text();
            console.log(f);
            console.log(f_text);
            Dom.html(text_preview, f_text.replace(/\n/gi, '<br/>'));
            text_preview.className = `language-${language}`;
            Prism.highlightAll();
        }

        doc.update({ loading: false });
    }

    async function previewVideo(file) {
        doc.update({ loading: true });

        let video_container = video_preview.children[0];
        video_container.src = `/core/controller/download.php?file_id=${file.id}`;

        doc.update({ loading: false });
    }

    function togglePlay(e) {
        console.log(audio_preview);

        let was_playing = audio_preview.isPlaying();

        if (was_playing) audio_preview.pause();
        else audio_preview.play();

        Dom.attribute(this, {
            'data-state': (was_playing ? 'play' : 'pause')
        });
    }

    async function previewAudio(file) {
        doc.update({ loading: true });

        audio_preview.load(`/core/controller/download.php?file_id=${file.id}`);

        doc.update({ loading: false });
    }

    function previewPDF(file) {
        console.log(pdf_preview);
        pdf_preview.children[0].src = `/core/controller/download.php?file_id=${file.id}`;
    }

    function closeVideoPreview() {
        let video_container = video_preview.children[0];
        video_container.pause();
    }

    function closeAudioPreview() {
        audio_preview.pause();
    }

    function filePreview() {
        if (file == null) return;

        let preview = whichPreview(file.type);

        // il va avoir beaucoup à faire ici
        if (preview == 'image') previewImage(file);
        else if (preview == 'text') previewText(file);
        else if (preview == 'video') previewVideo(file);
        else if (preview == 'audio') previewAudio(file);
        else if (preview == 'pdf') previewPDF(file);

        doc.update({ preview });
    }

    function closePreview() {
        if (file == null) return;

        let preview = whichPreview(file.type);
        if (preview == 'video') closeVideoPreview();
        else if (preview == 'audio') closeAudioPreview();
    }

    /** modification info **/

    async function save() {
        if (file == null || (file.auteur.id != user.id && !grp.permissions.rename_file)) return false;

        let nom = Dom.text(filename);
        let descr = Dom.text(description);

        Dom.attribute(filename, { 'data-erreur': false });
        Dom.attribute(description, { 'data-erreur': false });

        if (nom.length < 3 || nom.length > 50) {
            Dom.attribute(filename, { 'data-erreur': true });
            filename.focus();
        }
        if (descr.length > 500) {
            Dom.attribute(description, { 'data-erreur': true });
            description.focus();
        }
        if (nom.length >= 3 && nom.length <= 50 && descr.length <= 500) {
            file.nom = nom;
            file.description = descr;

            let r = file.push();

            if (r instanceof Error) {
                switch (r.code) {
                    default: break;
                }
            } else {
                setURL('./info');
            }
        }
    }

    /** modification url **/
    async function fileChange({ group_id, folder_id, file_id, option }) {
        
        group_id *= 1;
        folder_id *= 1;
        file_id *= 1;
        option = option || "info";
        
        if (!group || group_id != group.id) {
            group = await GROUPES.get(group_id);
            if (group instanceof Error) {
                console.error(group);
                group = null;
            }
        }

        if (!file || file_id != file.id) {
            doc.update({ preview: null });
            file = await WFILES.get(file_id);
            if (file instanceof Error) {
                console.error(file);
                file = null;
            }
            filePreview();
        }

        doc.update({ group, file, folder_id, option });
    }


    /** ajout des fonctions à la vue **/
    doc.update({ zoom_default, zoom_in, zoom_out, togglePlay, save });

    image_preview = doc.ctx.markedElement['image'];
    text_preview = doc.ctx.markedElement['text-code'];
    video_preview = doc.ctx.markedElement['video'];
    audio_preview_element = doc.ctx.markedElement['audio'];
    pdf_preview = doc.ctx.markedElement['pdf'];

    filename = doc.ctx.markedElement['filename'];
    description = doc.ctx.markedElement['description'];

    audio_preview = WaveSurfer.create({
        container: doc.ctx.markedElement['audio'],
        cursorColor: 'rgb(255 193 7)',
        progressColor: 'hsla(205deg, 65%, 45%, 0.5)',
        waveColor: '#ddd',
        height: 40,
        barWidth: 2,
        responsive: true
    });

    function convert_time(time) {
        let sec = time % 60;
        let min = (time - sec) / 60;
        let s_sec = ('0' + sec).slice(-2);
        return `${min}:${s_sec}`;
    }

    function time_display() {
        let current_time = ~~audio_preview.getCurrentTime();
        let duration = ~~audio_preview.getDuration();
        Dom.text(audio_preview_element.parentElement.children[1], `${convert_time(current_time)}/${convert_time(duration)}`);
    }

    audio_preview.on('audioprocess', time_display);
    audio_preview.on('ready', time_display);    
    let number = /^[0-9]+$/;
    URLrooter.addListener("/app/groupes/$group_id/$folder_id/$file_id/$option", fileChange, closePreview, { group_id : number, folder_id: number, file_id: number, option: /^(?:info|preview|edit-info|)$/ });
</script>