<div class="explorer-header">
    <!--<div class="search"><input type="text"></div>
    <nav class="">
        <ul>
            <li>Explorateur</li>
            <li>Resultats</li>
            <li>Flux</li>
            <li>Membres</li>
        </ul>
    </nav>-->
    <div class="path">
        {{ MARK this "path" }}
    </div>
</div>
<div class="content dropzone">
    {{ MARK this "dropzone" }}
    <div class="browse-main" data-visible="true">
        <em data-visible="{{ permissions.create_file }}"><center>Glisser/deposer des fichiers sur cette section pour les ajouter dans ce dossier.</center></em>
        <em data-visible="{{ NOT permissions.create_file }}"><center>Denied</center></em>
        <h3>Dossiers</h3>
        <div class="folders row-container">
            {{ MARK this "folders" }}
        </div>
        <div class="addButton" data-visible="{{ permissions.create_folder }}">
            {{ ADDLISTENER this.currentNode "click" create_folder }}
            <span class="icon icon-add"></span>
        </div>
        <h3><em class="icon icon-files"></em> Fichiers</h3>
        <div class="files row-container">
            {{ MARK this "files" }}
        </div>
        <div class="addButton" data-visible="{{ permissions.create_file }}">
            {{ ADDLISTENER this.currentNode "click" create_file }}
            <span class="icon icon-add"></span>
        </div>
    </div>
    <div class="flux" data-visible="false">

    </div>
    <div class="membres" data-visible="false">
        
    </div>
</div>
<script>
    let current_request_num = 0; // ceci est un numero qui permet de savoir si la requete à changer lorsqu'on charge un fichier : c'est pour eviter les collisions d'affichages, on commence à charger une page mais on change d'avis entre temp.

    var groupe = -1;
    var folder = null;
    var uploads = {}; // id => Upload

    /**
     * Set the correct dir to the windows
     */
    async function setDir({ groupe_id, folder_id }) {
        if (!folder_id) return;
        groupe_id *= 1;
        folder_id *= 1;
        
        if (!groupe || groupe.id !== groupe_id) {
            groupe = await GROUPES.get(groupe_id);
        }

        if (folder != null && folder_id == folder.id) {// actualise data on the folder
            folder.pull();
        } else { // change folder
            listFiles.clear();
            listFolders.clear();
            removeListeners();

            let req = ++current_request_num;
            let f = await FOLDERS.get(folder_id);

            if (req == current_request_num) {
                folder = f;
                addListeners();
                addAllFolders();
                addAllFiles();
                setPath(f);
            }
        }
        
        doc.update({ permissions: groupe.permissions });
    }

    /**
     * Affiche le chemin du fichier
     */
    async function setPath(folder) {
        let path = doc.ctx.markedElement['path'];

        // on supprime le chemin precedent
        Dom.html(path, "");


        let _path = folder.path;
        let nb_folders = _path.length;

        for (let i = 0; i < nb_folders; i++) {
            let dir = FOLDERS.getWithoutPull(_path[i]);
            Dom.append(
                path,
                `<div class="path-item"><a href="/app/groupes/${groupe.id}/${dir.id}">${dir.nom}</a></div>`
            );
        }

        Dom.append(
            path,
            `<div class="path-item"><a href="/app/groupes/${groupe.id}/${folder.id}">${folder.nom}</a></div>`
        );
    }

    doc.update({
        permissions: {},

        /**
         * creer un dossier dans le dossier courant
         */
        create_folder: async function () {
            let nom = prompt('nom du dossier'); // a ameliorer
            let descr = prompt('description');
            if (folder != null && typeof nom == 'string' && nom.length > 3 && descr != null) {
                let res = await folder.createFolder(nom, descr);
                if (res instanceof Error) console.error(res);
            }
        },

        /**
         * creer un fichier dans le dossier courant.
         */
        create_file: async function () {
            // creation d'une input pour recuperer les fichiers que l'utilisateur veut selectionner
            let input = Dom.create('<input type="file" style="position: absolute; width: 0; height: 0; top: -100%;">').children[0];

            // promesse pour attendre le choix de l'utilisateur
            let onchange = ExPromise();
            input.onchange = onchange.resolve;

            // attente du choix de l'utilisateur
            input.click();
            await onchange;

            // recuperation des données
            let files = input.files;

            // suppresion de l'input
            input.onchange = null;
            Dom.remove(input);

            // ajout des Fichiers
            upload_files(files);
        }
    });

    /* gestion du drop de fichier */
    doc.ctx.markedElement['dropzone'].addEventListener('dragenter', function (e) { e.preventDefault(); e.stopPropagation(); });
    doc.ctx.markedElement['dropzone'].addEventListener('dragleave', function (e) { e.preventDefault(); e.stopPropagation(); });
    doc.ctx.markedElement['dropzone'].addEventListener('dragover',  function (e) { e.preventDefault(); e.stopPropagation(); });
    doc.ctx.markedElement['dropzone'].addEventListener('drop',      function (e) {
        // on empeche le navigateur de le gerer par defaut : tanter d'ouvrir le fichier dans le navigateur
        e.preventDefault(); e.stopPropagation();
        
        if (groupe.permissions.create_file) upload_files(e.dataTransfer.files);
    });

    /**
     * Ajoute des fichiers au dossier parent
     */
    async function upload_files(files) {
        let nb_files = files.length;
        let wfiles = new Array(nb_files);

        for (let i = 0; i < nb_files; i++) {
            let file = files[i];     // recuperer le fichier
            let wfile = new WFile(); // creer un fichier
            wfile.nom = file.name;
            wfile.description = "";
            wfiles[i] = wfile;
            // upload les données
            let upload = await wfile.create(folder.id, file);
            if (upload instanceof Error) console.error(upload);
            else {
                WFILES.add(wfile);
                upload.addListener(Upload.EVENT_PROGRESS, function (upload) {
                    let file_item = listFiles.getElement(wfile.id);
                    if (file_item) {
                        let progress = 100 * upload.getNbPartsSended() / upload.nb_parts;
                        Dom.attribute(file_item, {'style':`--progress:${progress}%;`})
                        Dom.addClass(file_item, "uploading");
                    }
                });
                upload.addListener(Upload.EVENT_END, async function (upload) {
                    let file_item = listFiles.getElement(wfile.id);
                    if (file_item) {
                        await sleep(500);
                        Dom.attribute(file_item, {'style':'--progress:0%;'})
                        Dom.removeClass(file_item, "uploading");
                    }
                });
                folder.addFile(wfile);
            }
        }
    }
/*
    function onFileChange2(file) {
        let html_element = Dom.find(`[data-file-id="${file.id}"]`, doc.ctx.markedElement.files)[0];
        if (html_element) {
            let fhtml = fileParser.parse({ groupe, parentFolder: folder, file });
            Dom.replace(html_element, fhtml);
        } else file.removeListener(WFile.EVENT_UPDATE);
    }

    async function addFile2(fold, file_id) {
        let req = current_request_num;
        let file = await WFILES.get(file_id * 1);
        if (req != current_request_num) return;

        let fhtml = fileParser.parse({ groupe, parentFolder: folder, file });
        let file_item = Dom.find('.file.item', fhtml)[0];
        let download_btn = Dom.find('a.download', fhtml)[0];
        let delete_btn = Dom.find('a.delete', fhtml)[0];
        file.addListener(WFile.EVENT_UPDATE, onFileChange);
        Dom.append(doc.ctx.markedElement.files, fhtml);
        Dom.addListener(download_btn, 'click', async function () {
            let blob = await file.download();
            let blob_url = window.URL.createObjectURL(blob);
            console.log(blob_url);
            let link = document.createElement('a');
            link.download = file.nom;
            link.href = blob_url;
            Dom.append(Dom.body, link);
            link.click();
            Dom.remove(link);
            window.URL.revokeObjectURL(blob_url);
        });
        Dom.addListener(delete_btn, 'click', async function () {
            file.remove();
            removeFile(null, file.id);
        });
        if (uploads[file.id])
            if (uploads[file.id].ended) delete uploads[file.id];
            else {
                uploads[file.id].addListener(Upload.EVENT_PROGRESS, function (upload) {
                    let progress = 100 * upload.getNbPartsSended() / upload.nb_parts;
                    Dom.attribute(file_item, {'style':`--progress:${progress}%;`})
                    Dom.addClass(file_item, "uploading");
                });
                uploads[file.id].addListener(Upload.EVENT_END, async function (upload) {
                    await sleep(500);
                    Dom.attribute(file_item, {'style':'--progress:0%;'})
                    Dom.removeClass(file_item, "uploading");
                });
            }
    }

    async function removeFile2(fold, file_id) {
        Dom.remove(Dom.find(`.file[data-file-id="${file_id}"]`)[0]);
        let file = await WFILES.get(file_id * 1);
        file.removeListener(WFile.EVENT_UPDATE, onFileChange);
    }

    function removeAllFiles2() {
        let files = Dom.find('.file[data-file-id]', doc.ctx.markedElement.files);
        let nb_files = files.length;
        for (let i = 0; i < nb_files; i++)
            removeFile(null, Dom.attribute(files[i], 'data-file-id'));
    }

    function onFolderUpdate2() { doc.update(); }
*/

    /**
     * retire les listeners du dossier courant
     */
    function removeListeners() {
        if (!(folder instanceof Folder)) return;
        folder.removeListener(Folder.EVENT_UPDATE, onFolderUpdate);
        folder.removeListener(Folder.EVENT_NEW_FILE, addFile);
        folder.removeListener(Folder.EVENT_NEW_FOLDER, addFolder);
        folder.removeListener(Folder.EVENT_REMOVE_FILE, removeFile);
        folder.removeListener(Folder.EVENT_REMOVE_FOLDER, removeFolder);
    }

    /**
     * ajoute des listeners au dossier courant
     */
    function addListeners() {
        if (!(folder instanceof Folder)) return;
        folder.addListener(Folder.EVENT_UPDATE, onFolderUpdate);
        folder.addListener(Folder.EVENT_NEW_FILE, addFile);
        folder.addListener(Folder.EVENT_NEW_FOLDER, addFolder);
        folder.addListener(Folder.EVENT_REMOVE_FILE, removeFile);
        folder.addListener(Folder.EVENT_REMOVE_FOLDER, removeFolder);
    }

    /**
     * ajoute le fichier sur la vue.
     * @param {Folder} parent : le dossier parent
     * @param {Number} file_id : l'identifiant du fichier
     */
    function addFile(parent, file_id) {
        let file = WFILES.getWithoutPull(file_id);
        listFiles.add(file_id, file,
            {
                permissions: groupe.permissions,
                download: async function () {

                    // on telecharge les données du fichier
                    let blob = await file.download();

                    // on créer une url associé aux données
                    let blob_url = window.URL.createObjectURL(blob);

                    // on telecharge le fichier
                    let link = document.createElement('a'); // creation d'un lien
                    link.download = file.nom;               // nom du fichier
                    link.href = blob_url;                   // lien du fichier
                    Dom.append(Dom.body, link);             // ajout de l'element dans le dom
                    link.click();                           // fait cliquer l'utilisateur pour demarrer le telechargement
                    Dom.remove(link);                       // retire le lien du document
                    window.URL.revokeObjectURL(blob_url);   // on libere l'espace associé au lien blob
                },
                rename: function () {
                    console.log('rename pas encore disponnible');
                },
                open: async function () {
                    let f = await file;
                    setURL(`/app/groupes/${groupe.id}/${parent.id}/${f.id}`, `Prévisualisation : ${f.nom}`);
                },
                preview: async function () {
                    let f = await file;
                    setURL(`/app/groupes/${groupe.id}/${parent.id}/${f.id}/preview`, `Prévisualisation : ${f.nom}`);
                },
                delete: async function () {
                    let f = await file;
                    let result = await f.remove();
                    if (result instanceof Error) {
                        console.error(result);
                        console.log('le fichier ne peut pas être supprimé');
                    }
                    else listFiles.remove(file_id);
                },
                like: async function () {
                    let f = await file;
                    let result = await f.like();
                    if (result instanceof Error) {
                        console.log('le fichier ne peut pas être apprécié');
                    }
                },
                unlike: async function () {
                    let f = await file;
                    let result = await f.unlike();
                    if (result instanceof Error) {
                        console.log('ah ah heu...');
                    }
                },
                togglelike: async function () {
                    let f = await file;
                    let result = await (f.isLiked ? f.unlike() : f.like());
                    if (result instanceof Error) {
                        console.log('echec de la mission mon capitaine !');
                    }
                }
            }
        );
    }

    /**
     * ajoute le dossier sur la vue.
     * @param {Folder} parent : le dossier parent
     * @param {Number} folder_id : l'identifiant du dossier
     */
    function addFolder(parent, folder_id) {
        let folder = FOLDERS.getWithoutPull(folder_id);
        listFolders.add(folder_id, folder, {
            permissions: groupe.permissions,
            open: function () { setURL(`/app/groupes/${groupe.id}/${folder_id}`); },
            remove: async function () {
                let r = await folder.remove();

                if (r instanceof Error) console.error(r);
                else removeFolder(null, folder.id);
            }
        });
    }

    /**
     * ajoute les fichiers present par defaut dans le dossier
     */
    function addAllFiles() {
        if (folder == null) return;
        let nb_files = folder.nb_files;
        let files = folder.files;
        for (let i = 0; i < nb_files; i++) addFile(folder, files[i]);
    }

    /**
     * ajoute les dossiers present par défaut dans le dossier
     */
    function addAllFolders() {
        if (folder == null) return;
        let nb_folders = folder.nb_folders;
        let folders = folder.folders;
        for  (let i = 0; i < nb_folders; i++) addFolder(folder, folders[i])
    }

    /**
     * retire le fichier sur l'interface.
     * @param {Folder} parent : le dossier parent
     * @param {Number} file_id : l'identifiant du fichier
     */
    function removeFile(parent, file_id) {
        listFiles.remove(file_id);
    }

    /**
     * retire le dossier sur la vue
     * @param {Folder} parent : le dossier parent
     * @param {Number} folder_id : l'identifiant du dossier
     */
    function removeFolder(parent, folder_id) {
        listFolders.remove(folder_id);
    }

    /**
     * raffraichit les données affichés
     */
    function onFolderUpdate(folder) {
        //doc.update();
    }

    let folderHTML = fetch("/template/app.explorer.folderitem.html");
    let fileHTML = fetch("/template/app.explorer.fileitem.html");

    folderHTML = (await folderHTML).text();
    fileHTML = (await fileHTML).text();

    folderHTML = await folderHTML;
    fileHTML = await fileHTML;

    let folderParser = new uTemplate.parser(folderHTML);
    let fileParser = new uTemplate.parser(fileHTML);

    var listFolders = new HTMLList(doc.ctx.markedElement['folders'], folderParser);
    var listFiles = new HTMLList(doc.ctx.markedElement['files'], fileParser);

    URLrooter.addListener("/app/groupes/$groupe_id/$folder_id/*", setDir, null, { groupe_id: /^[0-9]+$/, $folder_id: /^[0-9]+$/ });
</script>