

<div class="groupe-add scrollable" data-visible="{{ CURRENT_URL_MATCH ADD VARTESTS }}">
    {{ INCLUDE this.currentNode "/template/app.groupes.add.html" }}
</div>
<div class="groupe-settings scrollable" data-visible="{{ CURRENT_URL_MATCH SETTINGS VARTESTS }}">
    {{ INCLUDE this.currentNode "/template/app.groupes.settings.html" }}
</div>
<div class="groupe-join scrollable" data-visible="{{ CURRENT_URL_MATCH JOIN VARTESTS }}">
    {{ INCLUDE this.currentNode "/template/app.groupes.join.html" }}
</div>
<div class="groupe-browse" data-visible="{{ CURRENT_URL_MATCH BROWSEDIR VARTESTS }}">
    {{ INCLUDE this.currentNode "/template/app.groupes.main.html" }}
</div>

<script>
    const $ctx = {
        VARTESTS: {
            id : /^[0-9]+$/,
            dir: /^(?:[0-9]+\/.*)?$/
        },
        ADD : "/app/groupes/(add|search)/*",
        BROWSEDIR : "/app/groupes/$id/$dir",
        SETTINGS :  "/app/groupes/$id/settings",
        JOIN:       "/app/groupes/$id/join",
    };

    URLrooter.addListener("/app/groupes/*", function () { doc.update($ctx); }, null);

</script>