<div class="content-chat scrollable">
    {{ MARK this "scroll" }}
    <div data-visible="{{ NOT isTail }}" class="">
        loading ...
        {{ MARK this "toTail" }}
    </div>
    <div>
        {{ MARK this "content-chat" }}
    </div>
    <div data-visible="{{ NOT isHead }}" class="">
        loading ...
        {{ MARK this "toHead" }}
    </div>
</div>
<div class="controles">
    <div contentEditable="true" class="text-input form-control">{{ MARK this 'text-input' }}</div>
    <button class="btn btn-primary">{{ ADDLISTENER this.currentNode 'click' send }}Envoyer<em class="icon icon-send"></em></button>
</div>

<script>
    var folder = null;
    var file = null;
    var chat = null;


    doc.update({ chat: new Chat(10), isHead: true, isTail: false, send: () => send() });

    function scrollToHead() {
        let offset = Dom.offset(doc.ctx.markedElement['content-chat']);
        let y = offset.top + offset.height;
        doc.ctx.markedElement['scroll'].scrollTop = y;
    }

    async function send() {
        let text = Dom.text(doc.ctx.markedElement['text-input']);
        if (text.length < 1) console.error('message trop court !');
        else if (text.length > 500) console.error('message trop long !');
        else {
            let msg = new Message({ author: { id: user.id, name: user.username }, content: text });
            let r = await chat.send(msg);
            if (r instanceof Error) console.log(r);
            onNewMessage(chat, msg);
            console.log('whouhou');
        }
    }

    async function urlChange({ groupe_id, folder_id, file_id }) {
        let chat_about_file = file_id !== undefined;
        let new_chat_id = -1;
        if (chat_about_file && (!file || file.id != file_id * 1)) {
            // le fichier à changé
            folder = null;
            file = await FILES.get(file_id * 1);
            new_chat_id = file.chat * 1;
        } else if (!chat_about_file && (file || !folder || folder.id != folder_id * 1)) {
            // le dossier à changé
            folder = await FOLDERS.get(folder_id * 1);
            file = null;
            new_chat_id = folder.chat * 1;
        }

        if (new_chat_id >= 0) {
            removeListeners(chat);
            chat = await CHATS.get(new_chat_id);

            if (chat instanceof Error) {
                console.error(chat);
                file = null;
                folder = null;
                chat = null;
            } else {
                addListeners(chat);
                chat.displayHead();
            }
        }
    }

    function onNewMessage(chat, msg) {
        messagesList.add(msg.id, msg);
    }

    function onRmMessage(chat, message_id) {
        messagesList.remove(message_id);
    }

    function onRebase(chat) {
        messagesList.clear();
        console.log("yuhu", chat);
        let messages = chat.displayed;
        let nb_messages = messages.length;
        for (let i = 0; i < nb_messages; i++)
            onNewMessage(chat, messages[i]);
        scrollToHead();
    }

    function removeListeners(chat) {
        if (!(chat instanceof Chat)) return;

        chat.removeListener(Chat.EVENT_NEW_MESSAGE_DISPLAYED, onNewMessage);
        chat.removeListener(Chat.EVENT_RM_MESSAGE, onRmMessage);
        chat.removeListener(Chat.EVENT_REBASE, onRebase);
    }

    function addListeners(chat) {
        if (!(chat instanceof Chat)) return;

        chat.addListener(Chat.EVENT_NEW_MESSAGE_DISPLAYED, onNewMessage);
        chat.addListener(Chat.EVENT_RM_MESSAGE, onRmMessage);
        chat.addListener(Chat.EVENT_REBASE, onRebase);
    }

    // Dom.data(toTail).visible // data-visible

    Dom.addListener(doc.ctx.markedElement["scroll"], "scroll", function (e) {
        //console.log(e.scrollTop);
    });


    let messageHTML = fetch("/template/app.chat.message.html");

    messageHTML = (await messageHTML).text();

    messageHTML = await messageHTML;

    let messageParser = new uTemplate.parser(messageHTML);

    var messagesList = new HTMLList(doc.ctx.markedElement['content-chat'], messageParser);
    
    /**
    for (let i = 0; i < 10; i++) {
        let msg = new Message(
            {
                id: i,
                author: {
                    id: 0,
                    name: 'Mattéo'
                },
                content: 'Je serais super content si ça marche !',
                publish_date: 1618921805 + i * 1000
            }
        );
        messagesList.add(msg.id, msg);
    }
    */

URLrooter.addListener("/app/groupes/$groupe_id/$folder_id/$file_id", urlChange, null, { groupe_id: /^[0-9]+$/, folder_id: /^[0-9]+$/, file_id: /^[0-9]*/ });
</script>