<div class="home content">
    
    <div class="split">
    	<div class="half">
    		<div>
    			<h1>SHARED</h1>
    		</div>
    	</div>
    	<div class="half">
    		<div>
		    	<p>Une plateforme de partage collaborative simple et facile d'utilisation</p>
		    	<p>Inscrivez-vous et commencez à collaborer avec vos amis.</p>
    		</div>
    	</div>
    </div>

    <div class="split oddbackground">
    	<div class="half">
    		<div>
    			<p>Créez votre groupe et commencez à collaborer dans vos projets. Organisez vos fichiers dans des dossiers et discutez sur chacun de vos fichiers</p>
    		</div>
    	</div>
    	<div class="half">
    		<div>
    			<h1>ORGANISEZ & PARTAGEZ</h1>
    		</div>
    	</div>
    </div>

    <div class="split">
    	<div class="half">
    		<div>
    			<h1>REJOIGNEZ D'AUTRES GROUPES</h1>
    		</div>
    	</div>
    	<div class="half">
    		<div>
    			<p>Avec la fonction <em>Recherche de groupe</em>, vous pouvez à tout moment chercher un groupe qui vous correspond et discuter sur un document ou une vidéo.</p>
    			<p></p>
    		</div>
    	</div>
    </div>

    <div class="split oddbackground">
    	<div class="half">
    		<div>
    			<p>Configurez qui, dans votre groupe collaboratif, sera en capacité d'effectuer certaines actions.</p>
    			<p>Comme la suppression ou le téléchargement de fichier du groupe</p>
    		</div>
    	</div>
    	<div class="half">
    		<div>
	    		<h1>AUTORISEZ OU RÉVOQUEZ</h1>
    		</div>
    	</div>
    </div>

    <div class="split">
    	<div class="half">*
    		<div>
    			<h1>REJOIGNEZ SHARED</h1>
    		</div>
    	</div>
    	<div class="half">
    		<div>
	    		<p>Inscrivez vous dès maintenant, et commencez à partager !</p>
    		</div>
    	</div>
    </div>

</div>