<div class="profil">


	<div class="element">
		<div class="centre">
			<div class="image" style="background-image: url({{ user.picture }})"></div>
		</div>
	</div>

	<div class="element">
		<h2> {{ user.nom }} :</h2>
		<br>
		<label for="biography">Modifier votre Biographie</label>
		<br>
		<textarea class="biography">{{ user.biography }}</textarea>
	</div>

	<div class="element">
		<h2>Statistiques :</h2>
		<br>
		<p><strong>Temps passé sur le site : </strong>{{ user.time }} secondes</p>
		<p><strong>Nombre de messages postés : </strong>{{ user.nbMessages }}</p>
		<p><strong>Nombre de Groupes rejoint : </strong>{{ user.nbGroupe }}</p>

	</div>
</div>


<script type="text/javascript">
	doc.update({
		user: {
			"id": 0123,
			"nom": "Ladar",
			"picture":"/assets/img/tmp/pp.jpeg",
			"banner" :"/assets/img/tmp/banner.gif",
			"biography" : "Blab bal bal we don't care \n\n -Someone",
			"time":"580",
			"nbMessages":"8326",
			"nbGroupe":"6"
		}
	});
</script>