RewriteEngine on
RewriteCond %{REQUEST_URI} !^/assets/.*$
RewriteCond %{REQUEST_URI} !^/core/.*$
RewriteCond %{REQUEST_URI} !^/template/.*$
RewriteCond %{REQUEST_URI} !^/test/.*$
RewriteRule /.* /index.php