@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kjeulr');
  src:  url('fonts/icomoon.eot?kjeulr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kjeulr') format('truetype'),
    url('fonts/icomoon.woff?kjeulr') format('woff'),
    url('fonts/icomoon.svg?kjeulr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-resize:before {
  content: "\e92d";
}
.icon-lock-rounded:before {
  content: "\e91d";
}
.icon-pause:before {
  content: "\e932";
}
.icon-arrow-left:before {
  content: "\e930";
}
.icon-clock:before {
  content: "\e91f";
}
.icon-clock1:before {
  content: "\e920";
}
.icon-quill:before {
  content: "\e921";
}
.icon-eye:before {
  content: "\e922";
}
.icon-views:before {
  content: "\e922";
}
.icon-vision:before {
  content: "\e922";
}
.icon-visit:before {
  content: "\e922";
}
.icon-spinner:before {
  content: "\e923";
}
.icon-loading:before {
  content: "\e923";
}
.icon-loading-wheel:before {
  content: "\e923";
}
.icon-refresh:before {
  content: "\e923";
}
.icon-repeat:before {
  content: "\e923";
}
.icon-busy:before {
  content: "\e923";
}
.icon-wait:before {
  content: "\e923";
}
.icon-arrow:before {
  content: "\e923";
}
.icon-dots-three-vertical:before {
  content: "\e91c";
}
.icon-save-disk:before {
  content: "\e924";
}
.icon-information-solid:before {
  content: "\e925";
}
.icon-information-outline:before {
  content: "\e926";
}
.icon-cloud-upload:before {
  content: "\e901";
}
.icon-download:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e917";
}
.icon-cog:before {
  content: "\e90d";
}
.icon-edit-3:before {
  content: "\e918";
}
.icon-trash-2:before {
  content: "\e90e";
}
.icon-zoom_out:before {
  content: "\e92e";
}
.icon-zoom_in:before {
  content: "\e92f";
}
.icon-keyboard_arrow_left:before {
  content: "\e927";
}
.icon-file_download_done:before {
  content: "\e928";
}
.icon-file_download:before {
  content: "\e929";
}
.icon-arrow_forward_ios:before {
  content: "\e91e";
}
.icon-favorite_outline:before {
  content: "\e919";
}
.icon-favorite:before {
  content: "\e91a";
}
.icon-menu:before {
  content: "\e90f";
}
.icon-circle:before {
  content: "\e910";
}
.icon-send:before {
  content: "\e911";
}
.icon-warning:before {
  content: "\e912";
}
.icon-sms_failed:before {
  content: "\e913";
}
.icon-feedback:before {
  content: "\e913";
}
.icon-chat:before {
  content: "\e914";
}
.icon-groups:before {
  content: "\e915";
}
.icon-add:before {
  content: "\e916";
}
.icon-person_search:before {
  content: "\e90a";
}
.icon-person_add_alt_1:before {
  content: "\e90b";
}
.icon-supervised_user_circle:before {
  content: "\e90c";
}
.icon-folder:before {
  content: "\e900";
}
.icon-play:before {
  content: "\e931";
}
.icon-floppy-o:before {
  content: "\e92a";
}
.icon-bar-chart:before {
  content: "\e92b";
}
.icon-pie-chart:before {
  content: "\e92c";
}
.icon-file-o:before {
  content: "\e91b";
}
.icon-file-code-o:before {
  content: "\e903";
}
.icon-file-movie-o:before {
  content: "\e904";
}
.icon-file-audio-o:before {
  content: "\e905";
}
.icon-file-archive-o:before {
  content: "\e906";
}
.icon-file-image-o:before {
  content: "\e907";
}
.icon-file-pdf-o:before {
  content: "\e908";
}
.icon-file-text:before {
  content: "\e909";
}
