<div class="header">
    <div class="header-content text-center">
        <h3>Trouver ou créer un groupe</h3>
        <p>Lorem ipsum dolor sit amet, consectet</p>
        <div class="search">
            {{ MARK this "search_box" }}
            <input type="text" value="{{ search }}" placeholder="Explorer les groupes">
        </div>
        <div>
            <a class="btn btn-primary" href="/app/groupes/create">Creer un groupe</a>
            <button class="btn btn-primary">{{ MARK this "search_button" }} Rechercher</button>
        </div>
    </div>
</div>
<div class="search_result">
    {{ MARK this "groups_container" }}
</div>
<script>
    doc.update({ 
        search: (URLrooter.parseURL('/app/groupes/search/$value') || { value: '' }).value
    });

    let search_input = Dom.find("input", doc.ctx.markedElement.search_box)[0];
    let search_button = doc.ctx.markedElement.search_button;
    let groups_container = doc.ctx.markedElement.groups_container;

    
    let r = await fetch("/template/app.groupes.items.html");
    let html = await r.text();

    let groupeItem = new uTemplate.parser(html);

    for (let i = 0; i < 10; i++) {
        Dom.append(groups_container, groupeItem.parse({
            id: i,
            nom: "groupe "+i,
            descr: "Lorem ipsum dolor sit amet"
        }));
    }

    Dom.addListener(search_button, 'click', function () {
        setURL('/app/groupes/search/'+encodeURI(search_input.value));
    });
</script>