
.chat {
    padding: 10px;
    min-width: 284px;

    .top {
        background: url(/assets/img/eezy_68.svg);
        background-position: center;
        background-size: cover;

        height: 250px;
        padding: 30px;
        border-radius: 20px;

        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;

        .h1 {
            text-align: center;
        }
    }

    .content-chat {
        height: calc(100% - 100px);
        padding: 10px;

        .message {
            padding:10px;

            .data {
                display: flex;
                flex-direction: row;
                align-items: center;
                flex: 0 0 auto;

                .user {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 0;
                    font-weight: 600;

                    .avatar {
                        //background-image: url(https://www.w3schools.com/howto/img_avatar.png);
                        width: 25px;
                        height: 25px;
                        border-radius: 25px;
                        background-position: center;
                        background-size: 100%;
                        background-repeat: no-repeat;
                        image-rendering: crisp-edges;
                        image-rendering: -webkit-optimize-contrast;
                        margin-left: -15px;
                        margin-right: 5px;
                    }
                }

                .time {
                    color: #a8aab1;
                    padding-left: 6px;
                }

                .opts {
                    display: none;
                    flex: 0 0 auto;

                    > div {
                        width: 30px;
                        text-align: center;
                        cursor: pointer;
                    }

                    .delete:hover { color: red; }
                    .edit:hover { color: blue; }
                }
            }

            .message-content {
                border-radius: 10px;
                padding: 10px;
                margin-top: 5px;
                background-color: #00bdd61f;
            }
        }
        .message:hover .opts { display: flex; }
    }

    .loading-top, .loading-bottom {
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .loading-top { align-items: flex-end; }
    .loading-bottom { align-items: flex-start; }

    .controles {
        height: 100px;
        padding: 10px 5px;
        display: flex;

        .text-input {
            width: 100%;
        }

        .text-input:empty:before {
            content: "Tapez votre message ici";
            color: #919190;
        }

        .btn {
            width: 50px;
            margin-left: 5px;
        }
    }
}