.chat {
  padding: 10px;
  min-width: 284px;
}

.chat .top {
  background: url(/assets/img/eezy_68.svg);
  background-position: center;
  background-size: cover;
  height: 250px;
  padding: 30px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chat .top .h1 {
  text-align: center;
}

.chat .content-chat {
  height: calc(100% - 100px);
  padding: 10px;
}

.chat .content-chat .message {
  padding: 10px;
}

.chat .content-chat .message .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.chat .content-chat .message .data .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  font-weight: 600;
}

.chat .content-chat .message .data .user .avatar {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  margin-left: -15px;
  margin-right: 5px;
}

.chat .content-chat .message .data .user .name a {
  text-decoration: none;
  color: var(--site-text-color);
}

.chat .content-chat .message .data .time {
  color: #a8aab1;
  padding-left: 6px;
}

.chat .content-chat .message .data .opts {
  display: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.chat .content-chat .message .data .opts > div {
  width: 30px;
  text-align: center;
  cursor: pointer;
}

.chat .content-chat .message .data .opts .delete:hover {
  color: red;
}

.chat .content-chat .message .data .opts .edit:hover {
  color: blue;
}

.chat .content-chat .message .message-content {
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;
  background-color: #00bdd61f;
}

.chat .content-chat .message:hover .opts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat .loading-top, .chat .loading-bottom {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chat .loading-top {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.chat .loading-bottom {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.chat .controles {
  height: 100px;
  padding: 10px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat .controles .text-input {
  width: 100%;
}

.chat .controles .text-input:empty:before {
  content: "Tapez votre message ici";
  color: #919190;
}

.chat .controles .btn {
  width: 50px;
  margin-left: 5px;
}
/*# sourceMappingURL=chat.css.map */