.dashboard-header {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard-header .header {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(/assets/img/eezy_18.svg);
  background-size: cover;
  height: 200px;
  background-position: center;
  border-radius: 20px;
  margin: 10px;
}

.dashboard-container {
  width: 100%;
  height: 100%;
  max-width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  margin: 0;
}

.dashboard-container > div {
  width: 450px;
  margin: 20px;
}

.dashboard-container .element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background-color: #fff;
  border: solid #ddd 1px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.2);
}

.dashboard-container .palmares {
  width: 100%;
  --cell-rank-size: 50px;
  --cell-data-size: 100px;
}

.dashboard-container .palmares .p-head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--site-text-color);
  color: #fff;
}

.dashboard-container .palmares .p-head > div {
  width: var(--cell-width);
}

.dashboard-container .palmares .p-body {
  width: 100%;
}

.dashboard-container .palmares .p-body .palm-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #ddd;
  padding: 5px 0;
}

.dashboard-container .palmares .p-body .palm-row > div {
  width: var(--cell-width);
}

.dashboard-container .palmares .rank {
  --cell-width: var(--cell-rank-size);
}

.dashboard-container .palmares .name-1 {
  --cell-width: calc(100% - var(--cell-rank-size) - 1 * var(--cell-data-size));
}

.dashboard-container .palmares .name-2 {
  --cell-width: calc(100% - var(--cell-rank-size) - 2 * var(--cell-data-size));
}

.dashboard-container .palmares .name-3 {
  --cell-width: calc(100% - var(--cell-rank-size) - 3 * var(--cell-data-size));
}

.dashboard-container .palmares .data {
  --cell-width: var(--cell-data-size);
}

.dashboard-container .palmares .rank, .dashboard-container .palmares .data {
  text-align: center;
}
/*# sourceMappingURL=dashboard.css.map */