.fileviewer {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;

    .header {
        background-color: #1e2530;
        padding: 2px;
        display: flex;
        color: #fff;
        a[href] {
            color: #fff;
            text-decoration: none;
        }
        a[href]:hover {
            transform: scale(1.1);
            text-shadow: -2px 2px 7px #fff;
        }

        .back-link {
            width: 50px;
            text-align: center;
            padding: 10px;
        }
        
        .title {
            width: calc(100% - 100px);
            padding: 10px 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .buttons {
            width: 50px;
            text-align: center;
            padding: 10px;
        }

        .spaceforchatbtn {
            width: 50px;
        }
        
    }

    .body {
        height: calc(100% - 1.5em - 24px);

        .info-box {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 20px 40px;

            .info {
                background-color: var(--site-background-color);
                padding: 10px;
                border-radius: 5px;
                height: fit-content;
                min-width: 300px;
                width: 80%;
                max-width: 500px;

                .data {
                    display: flex;
                    flex-wrap: wrap;

                    div {
                        width: 33%;
                        .icon {
                            padding: 0 5px;
                        }
                    }
                }

                .my-row {
                    display: flex;

                    > * { padding: 5px; }
                    .col1 {
                        width: 120px;
                        text-align: right;
                    }

                    .col2 {
                        width: calc(100% - 120px);
                        overflow-wrap: break-word;
                    }
                }

                *[contenteditable] {
                    background-color: #fff;
                    border-radius: 5px;
                    border: 1px solid #ddd;
                }

                *[data-erreur="true"] {
                    background-color:#e91e620d;
                    border-color: #e91e63;
                }

                .description > .col2 {
                    min-height: 3.625em;
                }
                .description > .col2:empty:before {
                    content: "Aucune description";
                }
            }
        }

        .preview-box {
            width: 100%;
            height: 100%;
            padding: 20px 40px;

            .image-preview {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;

                .image {
                    transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.74);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    width: 100%;
                    height: 100%;
                }
                
                .control {
                    position: relative;
                    background: #1e2530;
                    border-radius: 10px;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    margin-top: -50px;

                    .ctrl-btn {
                        color: #fff;
                        width: 30px;
                        text-align: center;
                        cursor: pointer;
                    }
                    .ctrl-btn:hover {
                        transform: scale(1.1);
                        text-shadow: -2px 2px 7px #fff;
                        margin-top: -2px;
                    }
                    .ctrl-btn:active {
                        margin-top: 0px;
                    }
                }
            }

            .text-preview {
                box-sizing: content-box;

                pre {
                    margin-top: 0px;
                    border-radius: 10px;
                    position: relative;
                    padding: 10px 20px;
                }
            }

            .video-preview {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                video {
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .audio-preview {
                display: flex;
                flex-direction: column;
                align-items: center;

                .audio-box {
                    width: 100%;
                    max-width: 800px;
                    border-radius: 5px;
                    padding: 5px;
                    background-color: #fff;
                    display: flex;
                    align-items: center;

                    .audio-controls {
                        width: 50px;
                        display: flex;
                        justify-content: center;

                        .play-btn {
                            //transition: .2s cubic-bezier(0.5, -3, 0.5, 4);// boing boing
                            border-radius: 1em;
                            cursor: pointer;
                            background-color: transparent;
                            color: rgba(40, 127, 189, 0.9);
                            width: 2em;
                            height: 2em;
                            text-align: center;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        .play-btn:hover {
                            background-color: rgba(40, 127, 189, 0.5);
                            color: #fff;
                        }
                        .play-btn:active {
                            margin-top: 4px;
                        }

                        .play-btn[data-state="play"] .icon-pause { display: none; }
                        .play-btn[data-state="pause"] .icon-play { display: none; }
                    }

                    .audio-display {
                        width: calc(100% - 150px);
                        height: 40px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        > wave {
                            width: 100%;
                        }
                    }

                    .audio-time {
                        width: 100px;
                        padding: 5px;
                        text-align: center;
                    }
                }
            }

            .pdf-preview {
                width: 100%;
                height: 100%;
                
                iframe {
                    width: 100%;
                    height: 100%;
                }
            }

            .no-preview, .too-heavy {
                height: 100%;
                > div {
                    text-align: center;
                    font-size: x-large;
                    color: #fff;
                    background: rgba(0,0,0,0.3);
                    padding: 20px;
                    border-radius: 5px;
                    background: url(/assets/img/T_3.svg);
                    background-size: cover;
                    background-position-y: center;
                    background-position-x: center;
                    background-repeat: no-repeat;
                    height: 100%;
                }
            }
        }
    }
}
