.fileviewer {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fileviewer .header {
  background-color: #1e2530;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.fileviewer .header a[href] {
  color: #fff;
  text-decoration: none;
}

.fileviewer .header a[href]:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-shadow: -2px 2px 7px #fff;
}

.fileviewer .header .back-link {
  width: 50px;
  text-align: center;
  padding: 10px;
}

.fileviewer .header .title {
  width: calc(100% - 100px);
  padding: 10px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.fileviewer .header .buttons {
  width: 50px;
  text-align: center;
  padding: 10px;
}

.fileviewer .header .spaceforchatbtn {
  width: 50px;
}

.fileviewer .body {
  height: calc(100% - 1.5em - 24px);
}

.fileviewer .body .info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 40px;
}

.fileviewer .body .info-box .info {
  background-color: var(--site-background-color);
  padding: 10px;
  border-radius: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 300px;
  width: 80%;
  max-width: 500px;
}

.fileviewer .body .info-box .info .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fileviewer .body .info-box .info .data div {
  width: 33%;
}

.fileviewer .body .info-box .info .data div .icon {
  padding: 0 5px;
}

.fileviewer .body .info-box .info .my-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fileviewer .body .info-box .info .my-row > * {
  padding: 5px;
}

.fileviewer .body .info-box .info .my-row .col1 {
  width: 120px;
  text-align: right;
}

.fileviewer .body .info-box .info .my-row .col2 {
  width: calc(100% - 120px);
  overflow-wrap: break-word;
}

.fileviewer .body .info-box .info *[contenteditable] {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.fileviewer .body .info-box .info *[data-erreur="true"] {
  background-color: #e91e620d;
  border-color: #e91e63;
}

.fileviewer .body .info-box .info .description > .col2 {
  min-height: 3.625em;
}

.fileviewer .body .info-box .info .description > .col2:empty:before {
  content: "Aucune description";
}

.fileviewer .body .preview-box {
  width: 100%;
  height: 100%;
  padding: 20px 40px;
}

.fileviewer .body .preview-box .image-preview {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fileviewer .body .preview-box .image-preview .image {
  -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.74);
  transition: all 0.5s cubic-bezier(0, 0, 0.09, 0.74);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
}

.fileviewer .body .preview-box .image-preview .control {
  position: relative;
  background: #1e2530;
  border-radius: 10px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -50px;
}

.fileviewer .body .preview-box .image-preview .control .ctrl-btn {
  color: #fff;
  width: 30px;
  text-align: center;
  cursor: pointer;
}

.fileviewer .body .preview-box .image-preview .control .ctrl-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-shadow: -2px 2px 7px #fff;
  margin-top: -2px;
}

.fileviewer .body .preview-box .image-preview .control .ctrl-btn:active {
  margin-top: 0px;
}

.fileviewer .body .preview-box .text-preview {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.fileviewer .body .preview-box .text-preview pre {
  margin-top: 0px;
  border-radius: 10px;
  position: relative;
  padding: 10px 20px;
}

.fileviewer .body .preview-box .video-preview {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fileviewer .body .preview-box .video-preview video {
  max-width: 100%;
  max-height: 100%;
}

.fileviewer .body .preview-box .audio-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fileviewer .body .preview-box .audio-preview .audio-box {
  width: 100%;
  max-width: 800px;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fileviewer .body .preview-box .audio-preview .audio-box .audio-controls {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fileviewer .body .preview-box .audio-preview .audio-box .audio-controls .play-btn {
  border-radius: 1em;
  cursor: pointer;
  background-color: transparent;
  color: rgba(40, 127, 189, 0.9);
  width: 2em;
  height: 2em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fileviewer .body .preview-box .audio-preview .audio-box .audio-controls .play-btn:hover {
  background-color: rgba(40, 127, 189, 0.5);
  color: #fff;
}

.fileviewer .body .preview-box .audio-preview .audio-box .audio-controls .play-btn:active {
  margin-top: 4px;
}

.fileviewer .body .preview-box .audio-preview .audio-box .audio-controls .play-btn[data-state="play"] .icon-pause {
  display: none;
}

.fileviewer .body .preview-box .audio-preview .audio-box .audio-controls .play-btn[data-state="pause"] .icon-play {
  display: none;
}

.fileviewer .body .preview-box .audio-preview .audio-box .audio-display {
  width: calc(100% - 150px);
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fileviewer .body .preview-box .audio-preview .audio-box .audio-display > wave {
  width: 100%;
}

.fileviewer .body .preview-box .audio-preview .audio-box .audio-time {
  width: 100px;
  padding: 5px;
  text-align: center;
}

.fileviewer .body .preview-box .pdf-preview {
  width: 100%;
  height: 100%;
}

.fileviewer .body .preview-box .pdf-preview iframe {
  width: 100%;
  height: 100%;
}

.fileviewer .body .preview-box .no-preview, .fileviewer .body .preview-box .too-heavy {
  height: 100%;
}

.fileviewer .body .preview-box .no-preview > div, .fileviewer .body .preview-box .too-heavy > div {
  text-align: center;
  font-size: x-large;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 5px;
  background: url(/assets/img/T_3.svg);
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
  height: 100%;
}
/*# sourceMappingURL=file.css.map */