.file {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.file .header {
  background-color: #1e2530;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.file .header a[href] {
  color: #fff;
  text-decoration: none;
}

.file .header a[href]:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-shadow: -2px 2px 7px #fff;
}

.file .header .back-link {
  width: 50px;
  text-align: center;
  padding: 10px;
}

.file .header .title {
  width: calc(100% - 100px);
  padding: 10px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.file .header .buttons {
  width: 50px;
  text-align: center;
  padding: 10px;
}

.file .header .spaceforchatbtn {
  width: 50px;
}

.file .body {
  height: 100%;
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.file .body .info {
  background-color: var(--site-background-color);
  padding: 10px;
  border-radius: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.file .body .info .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.file .body .info .data div {
  width: 50%;
}

.file .body .info .data div .icon {
  padding: 0 5px;
}

.file .body .preview-box {
  width: 100%;
  height: 100%;
}

.file .body .preview-box .image-preview {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.file .body .preview-box .image-preview .image {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
}

.file .body .preview-box .image-preview .control {
  position: relative;
  background: #1e2530;
  border-radius: 10px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -50px;
}

.file .body .preview-box .image-preview .control .ctrl-btn {
  color: #fff;
  width: 30px;
  text-align: center;
  cursor: pointer;
}

.file .body .preview-box .image-preview .control .ctrl-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-shadow: -2px 2px 7px #fff;
  margin-top: -2px;
}

.file .body .preview-box .image-preview .control .ctrl-btn:active {
  margin-top: 0px;
}

.file .body .preview-box .text-preview pre {
  margin-top: 0px;
  border-radius: 10px;
  position: relative;
  padding: 10px 20px;
}
/*# sourceMappingURL=file.css.map */