@import './_variables';

* {
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 0;
}

body {
    border-bottom: lightslategrey;
    border-bottom-width: 500px;
}

footer {
    text-align: center;
    background-color: lightslategrey;
    text-emphasis-color: black;

}

.card-title{
    text-decoration: underline;
    text-decoration: lightslategrey;
}