.profil {
    h2 {
        border-color: black;
        border-radius: 1px;
    }
    img {
        
        margin-left: 40%;
    }
    table {
        position : absolute;
        margin-left:45%;
        text-align: center;
    }

    tr {
       text-align: center;
    }
    .biography {
        margin-left: 45%;
    }
}
  
